---
---

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Ares</title>

    <style>
        .textstyle{
            padding-left: 5%;
            font-size: 20px;
            max-width: 1200px;
        }

        .image {
            width: 100%;
            max-width: 500px;
            height: auto;
            padding-right: 5%;
            padding-top: 2%;

        }

        .image2 {
            width: 100%;
            max-width: 900px;
            height: auto;
            padding-right: 5%;

        }

        .caption {
            font-size: 20px;
            display: table-caption;
            caption-side: bottom;
            padding-bottom: 7%;
            padding-right: 5%;
        }

        .figure {
            display: table;
            margin: 0;
        }

        .zoom {
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            cursor: zoom-in;
        }

        .zoom:hover,
        .zoom:active,
        .zoom:focus {
            /**adjust scale to desired size,
            add browser prefixes**/
            transform-origin: top left;
            -ms-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
            position:relative;
            z-index:100;
        }

        .custom-switch.custom-switch-lg {
            padding-bottom: 1rem;
            padding-left: 2.25rem;
        }
        .custom-switch.custom-switch-lg .custom-control-label {
            padding-left: 0.75rem;
            padding-top: 0.15rem;
        }
        .custom-switch.custom-switch-lg .custom-control-label::before {
            border-radius: 1rem;
            height: 1.5rem;
            width: 2.5rem;
        }
        .custom-switch.custom-switch-lg .custom-control-label::after {
            border-radius: 0.65rem;
            height: calc(1.5rem - 4px);
            width: calc(1.5rem - 4px);
        }
        .custom-switch.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
            transform: translateX(1rem);
        }

        .image-stack {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            position: relative;
        }

        .image-stack-item-bottom {
            grid-column: 1;
            grid-row: 1;
        }

    </style>

</head>
<body>

{% include slider.html %}
{% include menu.html %}

<h1 style="padding-left: 5%; padding-bottom: 2%" class="mt-5"> Ares</h1>

<p class="textstyle"> "Ares" is made for PAdI (Praktische Aspekte der Informatik) -
    a lecture at the Computer Graphics Lab. This is the only game, that I didn't develop in team, but completely alone.
    (Okay the music content is from <a href="https://winniehell.de/" target="_blank">winniehell</a>, because I'm not that musical…).
    But the Code and Graphics made by me. In the lecture I had to use C++ and at least one library. So I use
    <a href="https://www.sfml-dev.org/">SFML (Simple and Fast Multimedia Library)</a>. I make a mix of Jump&Run and Adventure.

</p>


<img class="textstyle" style="width: 100%; max-width: 1200px; padding-top: 2%" src="../assets/games/ares/title.jpg">


<h2 style="padding-left: 5%;" class="mt-5"> It beginns…</h2>
<p class="textstyle">
    (
    <a href="https://gitlab.com/dasMaichen/ares" target="_blank"> go to source code </a>
    )
</p>


<div style="padding-left: 5%" class="row" >
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/ares/begin_jump_and_run2.jpg">
        <figcaption class="caption">for the jump and run with some physics and blocking ground </figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/ares/begin_adventure.jpg">
        <figcaption class="caption" >And for the Adventure with some blocking objects and texts. </figcaption>
    </figure>
</div>

<h2 style="padding-left: 5%;" class="mt-5"> The Jump&Run Part</h2>
<p class="textstyle">
    Originally I wanted to develop an adventure game.
    To familiarize with SFML, I read turorials, that demonstrate developing a Jump&Run game with SFML.
    It was supposed to be just an exercise, but I liked that so much that I also built the jump and run part into my game.
</p>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/ares/jump_and_run_control.jpg">
        <figcaption class="caption">Jump&Run controls</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/ares/deers.jpg">
        <figcaption class="caption">Poisonous butterflies haunt you and deers in the woods.</figcaption>
    </figure>
    <figure class="zoom figure">
        <img class="image" src="../assets/games/ares/jump_over_deer.jpg">
        <figcaption class="caption" >You have to jump over deers.</figcaption>
    </figure>
</div>


<div style="padding-left: 5%" class="row">
    <figure class="zoom float-left figure">
        <img class="image" src="../assets/games/ares/jump_and_run_tree.jpg">
        <figcaption class="caption">Run through hollow tree.</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/ares/debug_modus.jpg">
        <figcaption class="caption">In developer/debug mode, look at colliding rectangles.</figcaption>
    </figure>
</div>


<h2 style="padding-left: 5%;" class="mt-5"> The Adventure Part</h2>
<p class="textstyle">
    This is the part, that I really wanted to develop. I want to make a game like "Legend of Zelda", but only with the
    puzzle part without battle (because I didn't want to develop an AI for the enemies - this were to much for one term project).
</p>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/ares/start_adventure.jpg">
        <figcaption class="caption">You start the adventure in the dark.</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/ares/flint.jpg">
        <figcaption class="caption">Find flint stones to make fire.</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/ares/hermes.jpg">
        <figcaption class="caption" >A bat will you help in the dungeon.</figcaption>
    </figure>
</div>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/ares/adventure_chest.jpg">
        <figcaption class="caption">You can find chests in the dungeon.</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/ares/in_sanctuary.jpg">
        <figcaption class="caption">…and more…</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/ares/inventory.jpg">
        <figcaption class="caption" >Collect the items!</figcaption>
    </figure>
</div>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/ares/bow.jpg">
        <figcaption class="caption">Use items. Like bow…</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/ares/torch.jpg">
        <figcaption class="caption">…or illuminate the room with a torch.</figcaption>
    </figure>

</div>


<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/ares/temple.jpg">
        <figcaption class="caption">And explore the dungeon! </figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/ares/labyrinth.jpg">
        <figcaption class="caption">Or find the way through a labyrinth.</figcaption>
    </figure>
</div>



<div class="row textstyle">
    <div class="image-stack float-left">
        <div class="image-stack-item-bottom" style="z-index: 0">
            <img class="image2" src="../assets/games/ares/dungeon_ug.jpg">
        </div>
        <div class="image-stack-item-bottom" style="z-index: 2">
            <img class="image2" src="../assets/games/ares/dungeon_eg.jpg" id="eg" style="display: none;">
        </div>
        <figcaption class="caption">And find the dungeon map…</figcaption>
    </div>


    <div class="column" style="padding-top: 15%; ">

        <div class="custom-control custom-switch custom-switch-lg">
            <input type="checkbox" class="custom-control-input" id="UgSwitch">
            <label class="custom-control-label textstyle" for="UgSwitch" >UG/EG</label>
        </div>
    </div>
</div>




<h2 style="padding-left: 5%;" class="mt-5"> Demos: </h2>

<div style="padding-left: 5%" class="row">
    <div style="width: 100%; max-width: 700px; display: table; margin-top: -20px; margin-right: 5%">
        <div class="embed-responsive embed-responsive-4by3" >
            <iframe class="embed-responsive-item" src="../assets/games/ares/jump_and_run_video.mp4" allowfullscreen></iframe>
        </div>
        <figcaption style="caption-side: bottom; font-size: 20px">Jump and Run Demo Video. </figcaption>
    </div>
    <div style="width: 100%; max-width: 700px; display: table; margin-top: -20px">
        <div class="embed-responsive embed-responsive-4by3" >
            <iframe class="embed-responsive-item" src="../assets/games/ares/adventure_video.mp4" allowfullscreen></iframe>
        </div>
        <figcaption style="caption-side: bottom; font-size: 20px">Adventure Demo Video.</figcaption>
    </div>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>



<script>
    function setVisibility(visible, name) {
        var element = document.getElementById(name);
        if(visible){
            element.style = "display:"+visible;
        }else {
            element.style = "display: none";
        }
    }

    var switchStatus = document.getElementById("UgSwitch").checked;
    setVisibility(switchStatus, "eg");
    $("#UgSwitch").on('change', function() {
        switchStatus = $(this).is(':checked');
        setVisibility(switchStatus, "eg");
    });

</script>


</body>
</html>