---
---

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Between Light and Shadow (Game)</title>

    <style>
        .textstyle {
            padding-left: 5%;
            font-size: 20px;
            max-width: 1200px;
            padding-top: 10px;
        }

        .image {
            width: 100%;
            max-width: 500px;
            height: auto;
            padding-right: 5%;

        }

        .caption {
            font-size: 20px;
            display: table-caption;
            caption-side: bottom;
            padding-bottom: 7%;
            padding-right: 5%;
        }

        .figure {
            display: table;
            margin: 0;
        }

        .image-stack {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            position: relative;
        }

        .image-stack-item-bottom {
            grid-column: 1;
            grid-row: 1;
        }

        .wohlfuehlabstand{
            padding-top: 2%;
            padding-left: 5%;
        }

        .zoom {
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            cursor: zoom-in;
        }

        .zoom:hover,
        .zoom:active,
        .zoom:focus {
            /**adjust scale to desired size,
            add browser prefixes**/
            transform-origin: top left;
            -ms-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
            position:relative;
            z-index:100;
        }

    </style>

</head>
<body>

{% include slider.html %}
{% include menu.html %}

<h1 style="padding-left: 5%; padding-bottom: 2%" class="mt-5">Between Light and Shadow (Game)</h1>

<p class="textstyle"> "Between Light and Shadow" is made for
    <a href="https://ldjam.com/events/ludum-dare/44/between-light-and-shadow" target="_blank">LudumDare 47</a>.
    The Theme was "Your life is currency".
    Evil Salesmen suddenly invade the World of Light and the World of Shadow.
    Salesmen are everywhere and take away life. In the Light World they offer worldly goods in exchange.
    In the Shadow World they involve you in relentless battles.
    Two heros - Sun, a girl from the Light World, and Loon, General of the Shadow Realm - pick up the fight.
</p>
<p class="textstyle"> This game was made by Bene, bonusPanda, Jakob, <a href="https://rohieb.name/">rohieb</a>, Sasikki,
    <a href="https://winniehell.de/" target="_blank">winniehell</a> and me.</p>


<div style="padding-left: 5%">
    <a class="btn btn-primary" style="font-size: 20px" href="https://ldjam.gitlab.io/44/between-light-and-shadow"
       target="_blank" role="button">Play now (on Web) </a>
</div>


<div id="carouseControls" class="carousel slide" data-ride="carousel"
     style="max-width: 1100px; padding-left: 5%; padding-top: 2%">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/assets/games/loon/loon1.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <p class="textstyle">In the Shadow World you play General Loon.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/assets/games/loon/sun1.png" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <p class="textstyle" style="color: white; background-color: rgba(1,1,1,0.51)">In the Light World you
                    play Sun.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouseControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouseControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<h2 class="wohlfuehlabstand mt-5"> The Light World and the Shadow World… </h2>

<p class="textstyle">
    The World of Light and the World of Shadow is like a mirror. Walls and blocking elements correspond.
    Salesmen are in the same places. Slide the slider and see what the two worlds look like.
</p>

<p class="textstyle">
    (
    <a href="https://gitlab.com/ldjam/44/two-worlds/tree/ludum-dare" target="_blank"> go to source code </a>
    )
</p>

<div style="padding-left: 5%; padding-top: 2%;">
    <div class style="max-width: 1200px">
        <div class="image-stack">
            <div class="image-stack-item-bottom" style="z-index: 2">
                <img style="width: 100%; max-width: 1200px" id="lightWorld" src="../assets/games/loon/sun_loon1-1.png">
            </div>

            <div class="image-stack-item-bottom" style="z-index: 1">
                <img style="width: 100%; max-width: 1200px" id="shadowWorld" src="../assets/games/loon/sun_loon1-2.png">
            </div>
        </div>
        <div class="d-flex justify-content-center" style="padding-top: 2%">
            <span class="font-weight-bold blue-text mr-2 mt-1" style="font-size: 20px">Light</span>
            <form style="max-width: 900px; width: 100%;">
                <div class="form-group">
                    <input value="0" type="range" class="custom-range" id="formControlRange"
                           oninput="updateTextInput(this.value);">
                </div>
            </form>
            <span class="font-weight-bold blue-text ml-2 mt-1" style="font-size: 20px">Shadow</span>
        </div>
    </div>

</div>


<!--

<div style="padding-left: 5%" class="row" >
    <figure class="float-left figure">
        <img class="textstyle" style="width: 100%; max-width: 900px" src="">
        <figcaption class="caption">Will you eat the berries or will you move on?</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="textstyle" style="width: 100%; max-width: 900px" src="..">
        <figcaption class="caption" >Left or right? </figcaption>
    </figure>
</div>-->


<p class="textstyle" style="padding-top: 3%">
    To save the world Sun and General Loon have to work together.
    But the General of the Shadows doesn't really see, why he need the help of a little girl with no skills.
    How will their adventure end?
</p>

<div class="row wohlfuehlabstand">
    <figure class="float-left figure">
        <img class="zoom image" src="/assets/games/loon/sun_defeat.png"/>
        <figcaption class="caption">Sun needs help, only General Loon can defeat the Salesmen.</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="zoom image" src="/assets/games/loon/loon_switch.png">
        <figcaption class="caption">Some Light elements you can find in the Shadow World.</figcaption>
    </figure>
</div>

<div class="row wohlfuehlabstand">
    <figure class="float-left figure">
        <img class="zoom image" src="/assets/games/loon/sun_haggle.png">
        <figcaption class="caption">Some Salesman want to haggle…</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="zoom image" src="/assets/games/loon/sun_way.png">
        <figcaption class="caption">To open the way you have to pay lifetime.</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="/assets/games/loon/loon_barrier.png">
        <figcaption class="caption">However the General needs help sometimes… </figcaption>
    </figure>
</div>

<div class="row wohlfuehlabstand">
    <figure class="float-left figure">
        <img class="zoom image" src="/assets/games/loon/sun_heart.png">
        <figcaption class="caption">A heart for General Loon?!</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="zoom image" src="/assets/games/loon/loon_worried.png">
        <figcaption class="caption">Sometimes Sun is worried about the mean general…</figcaption>
    </figure>
</div>

<h2 class="mt-5 wohlfuehlabstand"> What else? </h2>

<p class="textstyle">
    I liked the character and the game setting so much that I wanted to make a manga with them.
</p>

<div style="padding-left: 5%; padding-bottom: 7%">
    <a class="btn btn-primary" style="font-size: 20px" href="/mangas/loonManga.html"
       target="_blank" role="button">Go to Manga Between Light & Shadow </a>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<script>
    function updateTextInput(val) {
        document.getElementById('shadowWorld').style.opacity = val / 100;
        document.getElementById('lightWorld').style.opacity = (1 - val / 100);
    }
</script>


</body>
</html>