---
---

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Don't save the planet</title>

    <style>
        .textstyle {
            padding-left: 5%;
            font-size: 20px;
            max-width: 1200px;
            padding-top: 10px;
        }

        .image {
            width: 100%;
            max-width: 500px;
            height: auto;
            padding-right: 5%;

        }

        .caption {
            font-size: 20px;
            display: table-caption;
            caption-side: bottom;
            padding-bottom: 7%;
            padding-right: 5%;
        }

        .figure {
            display: table;
            margin: 0;
        }

        .image-stack {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            position: relative;
        }

        .image-stack-item-bottom {
            grid-column: 1;
            grid-row: 1;
        }

        .wohlfuehlabstand{
            padding-top: 2%;
            padding-left: 5%;
        }

        .zoom {
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            cursor: zoom-in;
        }

        .zoom:hover,
        .zoom:active,
        .zoom:focus {
            /**adjust scale to desired size,
            add browser prefixes**/
            transform-origin: top left;
            -ms-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
            position:relative;
            z-index:100;
        }

    </style>

</head>
<body>

{% include slider.html %}
{% include menu.html %}

<h1 style="padding-left: 5%; padding-bottom: 2%" class="mt-5">Don't save the Planet</h1>

<p class="textstyle"> "Don't save the Planet" is made for
    <a href="https://ldjam.com/events/ludum-dare/50/dont-save-the-planet" target="_blank">LudumDare 50</a>. The Theme was "Delay the inevitable".
    This time we had no idea at all for the proposed themes that made it to the final vote. Actually, I wanted a relaxed game for this GameJam.
    At the moment I like to playing visual novels - it's like reading a book or manga - and I wished to develop a visual novel like game.
    Also, since the world is going a bit crazy right now, I wished for a relaxed game that was far away from reality.
    But the wish remained unheard. The theme of "delaying the inevitable" didn't bring as many possibilities for a chilling game.

</p>
<p class="textstyle"> This time our team consisted of Silke, adenoyd, <a href="https://audreysart.jimdofree.com/blog-1/" target="_blank">audreysart</a>, Sesca, wehteheff, <a href="https://winniehell.de/" target="_blank">winniehell</a> and me.</p>
<p class="textstyle"> Graphic designer: Silke, <a href="https://audreysart.jimdofree.com/blog-1/" target="_blank">audreysart</a>, Sesca and me. <br>
    Programmers: <a href="https://winniehell.de/" target="_blank">winniehell</a>, wehteheff and me.<br>
    Music/Sounds: adenoyd and winniehell.</p>




<p class="textstyle"> We made this game with <a href="https://godotengine.org/" target="_blank"> Godot game engine</a>.</p>
<p class="textstyle"> So it became a non-innovative intergalactic whack a mole.</p>

<div style="padding-left: 5%">
    <a class="btn btn-primary" style="font-size: 20px" href="https://regenbogenmarmelade.frama.io/ldjam-50/" target="_blank" role="button">Play now (on Web) </a>
</div>


<img class="textstyle" style="width: 100%; max-width: 1200px" src="../assets/games/dontSaveThePlanet/eyecatcher.png">


<h2 style="padding-left: 5%;" class="mt-5"> It beginns… </h2>
<p class="textstyle"> …with an idea sketch from the game. The game should end up looking like this: with a grid where enemy and allied ships appear.
    And over time, the ships should spawn faster and faster.
</p>
<img class="textstyle" style="width: 100%; max-width: 1000px" src="../assets/games/dontSaveThePlanet/skizze.png">



<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/first_step.png">
        <figcaption class="caption">First, the framework was created, where the ships were simply inserted as squares.</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/bg.png">
        <figcaption class="caption">And then there was a background - drawn by the wonderful audreysart.</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/skizze_ship.png">
        <figcaption class="caption" >And also the first contours of a spaceship was drawn by the fabulous Sesca</figcaption>
    </figure>
</div>

<p class="textstyle">So my tasks were to draw the images for the Intro and the title screen.</p>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/lee_sketch.png">
        <figcaption class="caption">I like to draw character, so I made Colonel Lee. First I made a sketch from this character.</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/lee_outer_lines.png">
        <figcaption class="caption">The contours were digitally reshaped. I decided to tilt the picture a few degrees and
            to go with a smaller section of the image to make it a little more dramatic.</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/colonel_scene2.png">
        <figcaption class="caption">After colouring.</figcaption>
    </figure>
</div>

<p class="textstyle">Of course, aliens could not be missing from a space combat game. So the great Silke painted a few aliens for us.</p>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/Alien1.png">
        <figcaption class="caption">The classical type.</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/Alien2.png">
        <figcaption class="caption">The tentacle type.</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/Alien3.png">
        <figcaption class="caption">The lizard type. (He/she/it reminded me of a Zora from "The Legend of Zelda").</figcaption>
    </figure>
</div>

<p class="textstyle">To creating the title screen, I used Silke's template and reorganized it into the title screen.</p>
<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/alien1_t.png">
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/alien2_t.png">
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/alien3_t.png">
    </figure>
</div>

<p class="textstyle"></p>
<p class="textstyle">The final version of the title screen:</p>
<img class="textstyle" style="width: 100%; max-width: 1000px" src="../assets/games/dontSaveThePlanet/title.png">

<p class="textstyle"></p>
<p class="textstyle">Unfortunately, we forgot to take pictures of the intermediate states of the programmatic development... :(
    That's why I can't show you so much of the development of the game mechanics here.
    But I managed to get my computer down by simply creating an infinite number of missiles and not destroying them when they collided. :D
</p>

<p class="textstyle"></p>
<p class="textstyle">What else? What else did we manage to do within a weekend plus Monday?
    We managed to add three difficulty lines. In doing so, Earth has received different amounts of health and
    distinguishing between enemy and allied Spaceships becomes more difficult with levels.
</p>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/level1.png">
        <figcaption class="caption">Level 1: different colored spaceships, 5 lives.</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/level2.png">
        <figcaption class="caption">Level2: slightly different spaceships, 3 lives.</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/level3.png">
        <figcaption class="caption">Level3: spaceships, that difficult to distinguish and only one life.</figcaption>
    </figure>
</div>

<p class="textstyle"></p>
<p class="textstyle">At ludumDare it is often the case that we always take on too much for the main game and the tutorial is often sparse.
    Often our tutorials are simply as a text description on the ludumDare page. But this time we even managed to include the tutorial in the game. Yeah! :D
</p>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/tutorial1.png">
        <figcaption class="caption">Enemy spaceships appear!</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/dontSaveThePlanet/tutorial2.png">
        <figcaption class="caption">Don't destroy the spaceships with civilians that need to be evacuated.</figcaption>
    </figure>
</div>









<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


</body>
</html>