---
---

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Games</title>

    <style>
        .textstyle{
            padding-left: 5%;
            font-size: 20px
        }

        .image {
            width: 100%;
            max-width: 200px;
            height: auto;
            padding-right: 5%;

        }

        .caption {
            font-size: 20px;
            display: table-caption;
            caption-side: bottom;
            padding-bottom: 7%;
            padding-right: 5%;
        }

        .figure {
            display: table;
            margin: 0;
        }

    </style>

</head>
<body>

{% include slider.html %}
{% include menu.html %}

<h1 style="padding-left: 5%; padding-bottom: 2%" class="mt-5"> Genamoeba</h1>
<div class="textstyle" style="max-width: 1200px">
<p> "Genamoeba" is made for
    <a href="https://ldjam.com/events/ludum-dare/46/genamoeba" target="_blank">LudumDare 46</a>. The Theme was "Keep it alive".</p>
<p> This game is made by Psimyn, bonusPanda, Sasikki, nanoSQUID, souldzin, JackSkylark,  <a href="https://winniehell.de/" target="_blank">winniehell</a>
    and me.</p>
<p> The idea of the game is that you have to keep the amoebas alive if possible.
    You have to feed them, to keep they alive. You can also add genes in the pool of amoebas, to evolve them.
    Originally, they should then get better abilities, e.g. a foot-gene should make them faster or a mouth-gene
    should allow them to stay alive by eating other amoebas.
    But we couldn't implement these abilities, because we have no more time.
    But you can collect the many, many different combinations of amoebas.
</p>
<p>
    The game idea is inspired by the board game <a href="https://en.wikipedia.org/wiki/Primordial_Soup_(board_game)">"Primordial Soup"</a>.
</p>
</div>

<div style="padding-left: 5%">
    <a class="btn btn-primary" style="font-size: 20px" href="https://ldjam.gitlab.io/46/genamoeba/" target="_blank" role="button">Play now (on Web) </a>
</div>


<img class="textstyle" style="padding-top: 3%; width: 100%; max-width: 800px" src="../assets/games/genamoeba/title.png">


<h2 style="padding-left: 5%;" class="mt-5"> It beginns…</h2>
<p class="textstyle">
    (
    <a href="https://gitlab.com/ldjam/46/genamoeba" target="_blank"> go to source code </a>
    )
</p>


<div style="padding-left: 5%" class="row" >
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/amoeba.png">
        <figcaption class="caption"> … with one plain amoeba without any genes.</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/food.png">
        <figcaption class="caption" >You can feed the amoebas with... what ever. </figcaption>
    </figure>
    <figure class="figure">
        <img class="image" src="../assets/games/genamoeba/helix_icon.png">
        <figcaption class="caption">Put new genes for amoebas... </figcaption>
    </figure>

    <figure class="figure">
        <img class="image" src="../assets/games/genamoeba/new_amoeba_born_animation.gif">
        <figcaption class="caption">… and they evolve! </figcaption>
    </figure>
</div>


<p class="textstyle" style="padding-top: 5%">Sasikki's amoebas: </p>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_eye_hair_shell.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_eye_shell.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_foot_hair_mouth.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_mouth_shell.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/eye_hair_mouth_shell.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/foot_hair_mouth_shell.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/foot_mouth.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/hair.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/mouth.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/eye_foot_mouth_wing.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_eye_foot_hair_mouth.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_hair_mouth_shell.png">
    </figure>
</div>


<p class="textstyle" style="padding-top: 5%">nanoSQUID's amoebas: </p>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_eye_foot_hair_mouth_shell.png">
    </figure>
    <figure class="figure">
        <img class="image" src="../assets/games/genamoeba/ear_eye_hair.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_eye_hair_wing.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_eye_mouth.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_eye_mouth_shell_wing.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_eye_sparkles.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_foot.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_foot_hair.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_foot_mouth_poison.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_hair_light_shell.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/eye_foot_hair.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/eye_foot_hair_poison_shell.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/eye_hair.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/foot.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/foot_hair.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/foot_hair_mouth_shell_sparkles.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/foot_shell.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/hair_mouth.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/hair_shell.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_shell.png">
    </figure>
</div>


<p class="textstyle" style="padding-top: 5%">bonusPanda's amoebas: </p>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_hair_shell.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/ear_eye_mouth_shell.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/eye_foot_hair_mouth_shell.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/eye_mouth_shell.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/foot_hair_shell.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/genamoeba/hair_mouth_shell.png">
    </figure>
</div>


<p class="textstyle" style="padding-top: 5%">dasMaichen's amoebas: </p>
<div style="padding-left: 5%" class="row">
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_eye.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_eye_foot.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_eye_foot_hair_shell.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_eye_foot_mouth_shell.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_eye_foot_shell.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_eye_hair_mouth.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_foot_mouth.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_foot_mouth_shell.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_foot_shell.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_hair.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_hair_mouth.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_mouth.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/eye.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/eye_foot.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/eye_foot_hair_mouth.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/eye_foot_hair_shell.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/eye_foot_mouth.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/eye_foot_shell.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/eye_hair_shell.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/eye_light.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/eye_mouth.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/eye_shell.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/foot_hair_mouth.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/foot_mouth_shell.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/light_mouth.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/mouth_shell.png">
</figure>
<figure class="figure">
    <img class="image" src="../assets/games/genamoeba/shell.png">
</figure>
</div>


<p class="textstyle" style="padding-top: 5%">My two daughters also played a part in this game: </p>
<div style="padding-left: 5%" class="row">
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_eye_foot_hair.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_eye_foot_mouth.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/ear_foot_hair_shell.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/eye_foot_mouth_shell.png">
</figure>
<figure class="float-left figure">
    <img class="image" src="../assets/games/genamoeba/eye_hair_mouth.png">
</figure>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


</body>
</html>