---
---

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Games</title>

    <style>
        .textstyle {
            font-size: 20px;
            width: 100%;
            max-width: 1200px;
            padding-right: 5%;
            padding-top: 1%;
        }

        .imagestyle {
            width: 100%;
            max-width: 400px;
            float: left;
            margin-right: 5%;
        }

        .wohlfuehlrand {
            padding-left: 5%;
            padding-top: 2%;
        }

        @media only screen and (max-width: 800px) {
            .imagestyle {
                float: none;
            }
            .textstyle {
                padding-top: 3%;
                width: 100%;
                max-width: 400px;
            }
        }

    </style>

</head>
<body>
{% include slider.html %}
{% include menu.html %}

<h1 class="wohlfuehlrand">Games </h1>


<div class="wohlfuehlrand">
    <h2 style="padding-top: 1%; clear: left">
        <a class="float-none" href="/games/omg.html">
            OMG - Owesome Marmelade Game
        </a>
    </h2>

    <div>
        <div>
            <a href="/games/omg.html">
                <img src="/assets/games/omg/omg_title.jpg"
                     class="img-thumbnail shadow bg-white rounded imagestyle" alt="omg">
            </a>
        </div>

        <div class="textstyle">
            <p>Made for Rainbow Game Jam 2020. It is an Adventure.
                In the main quest you have to search for ingredients of a delicious marmelade. While your journey you
                will
                make new friends. With each of these friends, you can see the world in a slightly different way. You can
                also solve side quests. <a href="/games/omg.html">More…</a>
            </p>
        </div>
    </div>
</div>


<div class="wohlfuehlrand">
    <h2 style="padding-top: 3%; clear: left">
        <a class="float-none" href="http://convoluted.gitlab.io/index.html" target="_blank">
            Convoluted
        </a>
    </h2>

    <div>
        <div>
            <a href="http://convoluted.gitlab.io/index.html" target="_blank">
                <img src="../assets/games/convoluted.jpg"
                     class="img-thumbnail shadow bg-white rounded imagestyle" alt="Convoluted">
            </a>
        </div>

        <div class="textstyle">
            <p>Convoluted is a graphical text adventure.
                It is inspired by books like Steve Jackson's The Citadel of Chaos and motivated by their lack of
                savegames. <a href="http://convoluted.gitlab.io/index.html">More…</a>
            </p>
        </div>
    </div>
</div>


<div class="wohlfuehlrand">
    <h2 style="padding-top: 3%; clear: left">
        <a class="float-none" href="/games/ares.html" target="_blank">
        Ares </a></h2>

    <div>
        <div>
            <a href="/games/ares.html">
                <img src="/assets/games/ares/ares_title_small.png"
                     class="img-thumbnail shadow bg-white rounded imagestyle" alt="Ares">
            </a>
        </div>

        <div class="textstyle">
            <p>A mix of Jump&Run and Adventure for PAdI (Praktische Aspekte der Informatik). PAdI was a lecture from the
                Computer Graphics Lab at TU Braunschweig. In the lecture we have to develop a own software project with C++
                and use at least one library.  <a href="/games/ares.html">More…</a>
            </p>
        </div>
    </div>
</div>

<h1 style="clear: left; padding-top: 7%" class="wohlfuehlrand">ludumDare-Games </h1>

<div class="wohlfuehlrand">
    <h2 style="clear: left; padding-top: 3%;">
        <a class="float-none" href="/games/dontSaveThePlanet.html">
            Don't save the planet!
        </a>
    </h2>

    <div>
        <div>
            <a href="/games/dontSaveThePlanet.html">
                <img style="margin-bottom: 5%" src="/assets/games/dontSaveThePlanet/eyecatcher.png"
                     class="img-thumbnail shadow bg-white rounded imagestyle" alt="dontSaveThePlanet">
            </a>
        </div>

        <div class="textstyle">
            <p> "Don't save the planet"" is made for Ludum Dare 50. It is a galactical whack a mole with easy mechanics.
                <a href="/games/dontSaveThePlanet.html">More…</a>
            </p>
        </div>
    </div>
</div>


<div class="wohlfuehlrand">
    <h2 style="clear: left;">
        <a class="float-none" href="/games/princess.html">
            Princess stops the Princes
        </a>
    </h2>

    <div>
        <div>
            <a href="/games/princess.html">
                <img src="/assets/games/princess/princess_title.png"
                     class="img-thumbnail shadow bg-white rounded imagestyle" alt="princess">
            </a>
        </div>

        <div class="textstyle">
            <p>This game was made for LudumDare 47. This time we made a sort of tower defense.
                The princess is kidnapped by a mighty dragon.
                But after the dragon dies (because the dragon was old - really, relly old!),
                she finds life on the tower comfortable. But princes from different countries come to save her.
                But she is not amused! <a href="/games/princess.html">More…</a>
            </p>
        </div>
    </div>
</div>

<div class="wohlfuehlrand">
    <h2 style="clear: left; padding-top: 3%;">
        <a class="float-none" href="/games/genamoeba.html">
            Genamoeba
        </a>
    </h2>

    <div>
        <div>
            <a href="/games/genamoeba.html">
                <img src="/assets/games/genamoeba/genamoeba_title.png"
                     class="img-thumbnail shadow bg-white rounded imagestyle" alt="zwsp">
            </a>
        </div>

        <div class="textstyle">
            <p>This game is made for Ludum Dare 46. In this game you have to keep the amoebas alive so long as possible.
                You have to feed the amoebas. Even you can give them new genes to evolve. <a href="/games/genamoeba.html">More…</a>
            </p>
        </div>
    </div>
</div>


<div class="wohlfuehlrand">
    <h2 style="clear: left; padding-top: 3%;">
        <a class="float-none" href="/games/zwsp.html">
            &ZWSP
        </a>
    </h2>

    <div>
        <div>
            <a href="/games/zwsp.html">
                <img src="/assets/games/zwsp/zwsp_title.png"
                     class="img-thumbnail shadow bg-white rounded imagestyle" alt="zwsp">
            </a>
        </div>

        <div class="textstyle">
            <p>This game is made for Ludum Dare 45. This game is a Point-and-Click Escape-Room-Game. Can you escape?
                <a href="/games/zwsp.html">More…</a>
            </p>
        </div>
    </div>
</div>


<div class="wohlfuehlrand">
    <h2 style="clear: left; padding-top: 3%;">
        <a class="float-none" href="/games/betweenLightAndShadow.html">
            Between Light and Shadow
        </a>
    </h2>

    <div>
        <div>
            <a href="/games/betweenLightAndShadow.html">
                <img src="/assets/games/loon/between_light_and_shadow_title.png"
                     class="img-thumbnail shadow bg-white rounded imagestyle" alt="betweenLightAndShadow">
            </a>
        </div>

        <div class="textstyle">
            <p>This game is made for Ludum Dare 44. Between Light & Shadow is an Adventure Game.
                Two heroes, Sun a girl from the world of light, the other Loon, a general of the realm of shadows,
                have to find a way to defeat the Salesmen. <a href="/games/betweenLightAndShadow.html">More…</a>

            </p>
        </div>
    </div>
</div>


<div class="wohlfuehlrand">
    <h2 style="clear: left; padding-top: 3%;">
        <a class="float-none" href="/games/yokaichan.html">
            Yokai-chan, kaeruyo.
        </a>
    </h2>

    <div>
        <div>
            <a href="/games/yokaichan.html">
                <img src="/assets/games/yokaichan/yokaichan_title.png"
                     class="img-thumbnail shadow bg-white rounded imagestyle" alt="yokaichen">
            </a>
        </div>

        <div class="textstyle">
            <p>This game is for Ludum Dare 43. It is a classic Jump&Run Game.
                This game is not finshed in one weekend. So it's playable semi-well.
                An upcoming project is to finished this game. <a href="/games/yokaichan.html">More…</a>
            </p>
        </div>
    </div>
</div>



<div class="wohlfuehlrand">
    <h2 style="clear: left; padding-top: 3%;">
        <a class="float-none" href="/games/splendidAdventure.html">
            Splendid Adventure on a Sunday Afternoon
        </a>
    </h2>

    <div>
        <div>
            <a href="/games/splendidAdventure.html">
                <img src="/assets/games/splendidAdventure/title.jpg"
                     class="img-thumbnail shadow bg-white rounded imagestyle" alt="splendidAdventure">
            </a>
        </div>

        <div class="textstyle">
            <p>This game is made for Ludum Dare 41. The theme was to combine two incompatible genres. So we combine
                Jump-and-Run and Text-Adventure. You can experience the story of Helena.
                <a href="/games/splendidAdventure.html">More…</a>
            </p>
        </div>
    </div>
</div>



<div class="wohlfuehlrand">
    <h2 style="clear: left; padding-top: 3%;">
        <a class="float-none" href="/games/wodewick.html">
            Wodewick
        </a>
    </h2>

    <div>
        <div>
            <a href="/games/wodewick.html">
                <img style="margin-bottom: 5%" src="/assets/games/wodewick/title.png"
                     class="img-thumbnail shadow bg-white rounded imagestyle" alt="wodewick">
            </a>
        </div>

        <div class="textstyle">
            <p> Wodewick is made for Ludum Dare 39. It is a minimalistic game with easy mechanics. We made this game in 12 hours.
                <a href="/games/wodewick.html">More…</a>
            </p>
        </div>
    </div>
</div>





<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>
