---
---

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Games</title>

    <style>
        .textstyle{
            padding-left: 5%;
            font-size: 20px;
            max-width: 1200px
        }

        .image {
            width: 100%;
            max-width: 500px;
            height: auto;
            padding-right: 5%;

        }

        .image2 {
            width: 100%;
            max-width: 800px;
            height: auto;
            padding-right: 5%;

        }

        .caption {
            font-size: 20px;
            display: table-caption;
            caption-side: bottom;
            padding-bottom: 7%;
            padding-right: 5%;
        }

        .figure {
            display: table;
            margin: 0;
        }

        .custom-switch.custom-switch-lg {
            padding-bottom: 1rem;
            padding-left: 2.25rem;
        }
        .custom-switch.custom-switch-lg .custom-control-label {
            padding-left: 0.75rem;
            padding-top: 0.15rem;
        }
        .custom-switch.custom-switch-lg .custom-control-label::before {
            border-radius: 1rem;
            height: 1.5rem;
            width: 2.5rem;
        }
        .custom-switch.custom-switch-lg .custom-control-label::after {
            border-radius: 0.65rem;
            height: calc(1.5rem - 4px);
            width: calc(1.5rem - 4px);
        }
        .custom-switch.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
            transform: translateX(1rem);
        }

        .image-stack {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            position: relative;
        }

        .image-stack-item-bottom {
            grid-column: 1;
            grid-row: 1;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }



    </style>

</head>
<body>

{% include slider.html %}
{% include menu.html %}

<h1 style="padding-left: 5%; padding-bottom: 2%" class="mt-5"> OMG - Owesome Marmelade Game</h1>

<div class="textstyle pb-2" style="max-width: 1200px">
<p> "OMG - Owesome Marmelade Game" is made for
    <a href="https://itch.io/jam/rainbowjam20" target="_blank">Rainbow Jam 2020</a>. The Theme was "Strength In Numbers".</p>
<p> We made this game with <a href="https://godotengine.org/" target="_blank"> Godot game engine</a>.</p>
<p> This time we had two weeks - a lot more time than usual (usual LudumDare: one weekend).
    This time we make an Adventure with lovelly characters. Adventure is my favorite game genre and
    I really enjoyed to make this game with <a href="https://morr.cc/" target="_blank">blinry</a>,
    NanoSQUID, Sascet43, Sasikki, Sesca, wehteheff and <a href="https://winniehell.de/" target="_blank">winniehell</a>.
</p>
<p> The concept of the game is that as you search for the ingredients you will make new friends.
    With each of these new friends, you can see the world in a slightly different way.</p>
</div>

<div class="mt-3 mb-2" style="padding-left: 5%">
    <a class="btn btn-primary" style="font-size: 20px"
       href="https://winniehell.itch.io/omg" target="_blank" role="button"> Play on itch.io </a>
</div>



<img class="textstyle" style="width: 100%; max-width: 1200px" src="../assets/games/omg/title.jpg">


<h2 style="padding-left: 5%;" class="mt-5"> The World and the Tribes.</h2>
<p class="textstyle">
    (
    <a href="https://gitlab.com/regenbogenmarmelade/rainbow-game" target="_blank"> go to source code </a>
    )
</p>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="image" src="../assets/games/omg/desert_start.jpg">
        <figcaption class="caption">You start your adventure in the desert.</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/omg/desert_merchant.jpg">
        <figcaption class="caption">Buy a Qu'umcuencholitas from a merchant.</figcaption>
    </figure>
    <div style="width: 100%; max-width: 450px; display: table; margin-top: -20px">
    <div class="embed-responsive embed-responsive-4by3" >
        <iframe class="embed-responsive-item" src="../assets/games/omg/desert_dance.mp4" allowfullscreen></iframe>
    </div>
        <figcaption style="caption-side: bottom; font-size: 20px">… or dance! </figcaption>
    </div>
</div>

<div >
    <div class="textstyle">
        <p> And meet new friends! Some of them need help and still others come with you on your journey to help you to find
            the ingredients for your rainbow marmelade. But when they accompany you on your journey, you see the world in a
            different way.</p>
    </div>
    <div class="">
        <img src="../assets/games/omg/friends.jpg" style="width:100%; max-width: 1400px; padding-left: 5%; margin-top: 0px">
    </div>
</div>

<div class="textstyle">
    <p>
        Six different tribes live in this world. You belong to the desert tribes. You and your family live as nomadic merchants.
    </p>
    <p>
        And then there are creatures, who live in the woods - they are Silvaner.
    </p>
</div>


<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="image2" src="../assets/games/omg/beechnut.jpg">
        <figcaption class="caption">With a Silvaner your environment
            looks more vegetative. The Silvaner also made an appearance in "Convoluted".</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="image2" src="../assets/games/omg/guards.jpg">
        <figcaption class="caption">Silvaner guards patrol at the village entrance.</figcaption>
    </figure>
</div>


<div class="textstyle">
    <p>
        In the north lives the tribe of the Vulcan. Vulcans are inhabitants of the hot lava landscape.
        And with a Vulcan by your site, you discover that this land is not so barren.
        And you see more other inhabitants, the Flameys and Fire-Peoples. And you see that even plants grow here.
    </p>
    <p>
        Anyway the volcanic landscape and its inhabitants is created by the fabulous Sasikki and the gorgeous Sesca.
    </p>
</div>


<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="image2" src="../assets/games/omg/vulcans.jpg">
        <figcaption class="caption">So many creatures lives here! </figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="image2" src="../assets/games/omg/chili.jpg">
        <figcaption class="caption">There is even a chilli plant growing here.</figcaption>
    </figure>
</div>


<div class="textstyle">
    <p>
        The water world lies in the south-east. The world was mainly drawn by marvelous nanoSQUID. Go to the water creatures
        and look, what they have to say. Sometimes invisible bridges also become visible, so that you can move forward there.
    </p>
</div>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="image2" src="../assets/games/omg/squid.jpg">
        <figcaption class="caption">Here the bridge is visible.</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="image2" src="../assets/games/omg/charon.jpg">
        <figcaption class="caption">Oh no! Charon's boat is broken.</figcaption>
    </figure>
</div>

<div class="textstyle">
    <p>
        Visit the swampy landscape and talk to the local residents.
        The swamp dwellers are funny fellows and they somehow seem to be an unit ...
        The swamp was designed by the gorgeous <a href="https://morr.cc/" target="_blank">blinry</a> and the wonderful Sesca.

    </p>
</div>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="image2" src="../assets/games/omg/swamp.jpg">
        <figcaption class="caption">The swampy landscape. A thick fog surrounds the swamp. </figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="image2" src="../assets/games/omg/but.jpg">
        <figcaption class="caption">"But what?"</figcaption>
    </figure>
</div>


<div class="textstyle">
    <p>
        The last tribe is the ancient tribe. The Time Guys lived in the past, but the clock tower in the center of the
        ancient city helps the Time Guys to surpassing the borders of space and time. All Time Guys look the same.
        They all have the same neutral sight. With the TimeGuy the environment changes the time.
    </p>
</div>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="image2" src="../assets/games/omg/dragon.jpg">
        <figcaption class="caption">The dragon died long ago, but in the past (around the Time Guy) the dragon is still alive. </figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="image2" src="../assets/games/omg/ruins_and_new.jpg">
        <figcaption class="caption">The ravages of time can be seen on the city wall,
            where the aura of the Time Guy don't overlap. </figcaption>
    </figure>
</div>

<div class="textstyle">
    <p>
        Now two fountains as examples of how the aura changes the appearance of the environment.
    </p>
</div>


<div class="row textstyle">
    <div class="image-stack  float-left">
        <div class="image-stack-item-bottom" style="z-index: 1">
            <img class="image" src="../assets/games/omg/fountain_ruin.png">
        </div>

        <div class="image-stack-item-bottom" style="z-index: 2">
        <img class="image" src="../assets/games/omg/fountain.png" id="newFontain" style="display: none;">
        </div>

        <div class="image-stack-item-bottom" style="z-index: 3">
            <img class="image" src="../assets/games/omg/fountain_water.png" id="water" style="display: none;">
        </div>

        <div class="image-stack-item-bottom" style="z-index: 4">
            <img class="image" src="../assets/games/omg/fountain_green.png" id="woods" style="display: none;">
        </div>

        <div class="image-stack-item-bottom" style="z-index: 5">
            <img class="image" src="../assets/games/omg/fountain_berry.png" id="fire" style="display: none;" >
        </div>

        <div class="image-stack-item-bottom" style="z-index: 6">
            <img class="image" src="../assets/games/omg/fountain_flower.png" id="swamp" style="display: none;" >
        </div>
    </div>

    <div class="column" style="padding-top: 5%">

        <div class="custom-control custom-switch custom-switch-lg">
        <input type="checkbox" class="custom-control-input" id="woodsSwitch">
        <label class="custom-control-label textstyle" for="woodsSwitch" >Woods aura</label>
        </div>

        <div class="custom-control custom-switch custom-switch-lg">
        <input type="checkbox" class="custom-control-input" id="waterSwitch">
        <label class="custom-control-label textstyle" for="waterSwitch">Water aura</label>
        </div>
        <div class="custom-control custom-switch custom-switch-lg">
        <input type="checkbox" class="custom-control-input" id="fireSwitch">
        <label class="custom-control-label textstyle" for="fireSwitch">Fire aura</label>
        </div>
        <div class="custom-control custom-switch custom-switch-lg">
        <input type="checkbox" class="custom-control-input" id="swampSwitch">
        <label class="custom-control-label textstyle" for="swampSwitch">Swamp aura</label>
        </div>
        <div class="custom-control custom-switch custom-switch-lg">
        <input type="checkbox" class="custom-control-input" id="ruinSwitch">
        <label class="custom-control-label textstyle" for="ruinSwitch">Time aura</label>
        </div>
    </div>
</div>



<div class="row textstyle">
    <div class="image-stack  float-left" style="padding-left: 2%">
        <div class="image-stack-item-bottom" style="z-index: 0">
            <img class="image" src="../assets/games/omg/fountain_small_ruin.png">
        </div>
        <div class="image-stack-item-bottom" style="z-index: 2">
            <img class="image" src="../assets/games/omg/fountain_small_dry.png">
        </div>

        <div class="image-stack-item-bottom" style="z-index: 1">
            <img class="image" src="../assets/games/omg/fountain_small.png" id="smallNewFontain" style="display: none;">
        </div>

        <div class="image-stack-item-bottom" style="z-index: 3">
            <img class="image" src="../assets/games/omg/fountain_small_water.png" id="smallWater" style="display: none;">
        </div>

        <div class="image-stack-item-bottom" style="z-index: 4">
            <img class="image" src="../assets/games/omg/fountain_small_leaves.png" id="smallWoods" style="display: none;">
        </div>

        <div class="image-stack-item-bottom" style="z-index: 5">
            <img class="image" src="../assets/games/omg/fountain_small_berries.png" id="smallFire" style="display: none;" >
        </div>
    </div>

    <div class="column" style="padding-top: 15%; ">

        <div class="custom-control custom-switch custom-switch-lg">
            <input type="checkbox" class="custom-control-input" id="woodsSwitch2">
            <label class="custom-control-label textstyle" for="woodsSwitch2" >Woods aura</label>
        </div>

        <div class="custom-control custom-switch custom-switch-lg">
            <input type="checkbox" class="custom-control-input" id="waterSwitch2">
            <label class="custom-control-label textstyle" for="waterSwitch2">Water aura</label>
        </div>
        <div class="custom-control custom-switch custom-switch-lg">
            <input type="checkbox" class="custom-control-input" id="fireSwitch2">
            <label class="custom-control-label textstyle" for="fireSwitch2">Fire aura</label>
        </div>
        <div class="custom-control custom-switch custom-switch-lg">
            <input type="checkbox" class="custom-control-input" id="ruinSwitch2">
            <label class="custom-control-label textstyle" for="ruinSwitch2">Time aura</label>
        </div>
    </div>
</div>

<div class="textstyle" style="margin-bottom: 2%">
    <p>

        And finally it should be mentioned that different music instruments
        and melodies were chosen for the different tribes. Everything composed by the fabulous
        <a href="https://winniehell.de/" target="_blank">winniehell</a>. Yeay!
    </p>
</div>

<div class="col-sm-4 col-sm-offset-4" style="padding-left: 5%; margin-bottom: 2%">
    <audio controls style="width: 400px; padding-right: 5%;" class="float-left">
        <source src="../assets/games/omg/desert.ogg">
    </audio>

    <p class="textstyle">
        desert music
    </p>
</div>

<div class="col-sm-4 col-sm-offset-4" style="padding-left: 5%; margin-bottom: 2%">
    <audio controls style="width: 400px; padding-right: 5%;" class="float-left">
        <source src="../assets/games/omg/woods.ogg">
    </audio>

    <p class="textstyle">
        woods music
    </p>
</div>

<div class="col-sm-4 col-sm-offset-4" style="padding-left: 5%; margin-bottom: 2%">
    <audio controls style="width: 400px; padding-right: 5%;" class="float-left">
        <source src="../assets/games/omg/volcano.ogg">
    </audio>

    <p class="textstyle">
        volcano music
    </p>
</div>

<div class="col-sm-4 col-sm-offset-4" style="padding-left: 5%; margin-bottom: 2%">
    <audio controls style="width: 400px; padding-right: 5%;" class="float-left">
        <source src="../assets/games/omg/water.ogg">
    </audio>

    <p class="textstyle">
        water music
    </p>
</div>


<div class="col-sm-4 col-sm-offset-4" style="padding-left: 5%; margin-bottom: 2%">
    <audio controls style="width: 400px; padding-right: 5%;" class="float-left">
        <source src="../assets/games/omg/swamp.ogg">
    </audio>

    <p class="textstyle">
        swamp music
    </p>
</div>


<div class="col-sm-4 col-sm-offset-4" style="padding-left: 5%; margin-bottom: 2%">
    <audio controls style="width: 400px; padding-right: 5%;" class="float-left">
        <source src="../assets/games/omg/ruins.ogg">
    </audio>

    <p class="textstyle">
        ruins music
    </p>
</div>


<div class="center">
    <img src="../assets/games/omg/friends.jpg"  style="width:100%; max-width: 1400px;">
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>



<script>
    function setVisibility(visible, name) {
        var element = document.getElementById(name);
        if(visible){
            element.style = "display:"+visible;
        }else {
            element.style = "display: none";
        }
    }

    var switchStatusRuins = document.getElementById("ruinSwitch").checked;
    setVisibility(switchStatusRuins, "newFontain");
    $("#ruinSwitch").on('change', function() {
        switchStatusRuins = $(this).is(':checked');
        setVisibility(switchStatusRuins, "newFontain");
    });


    var switchStatusWater = document.getElementById("waterSwitch").checked;
    setVisibility(switchStatusWater, "water");
    $("#waterSwitch").on('change', function() {
        switchStatusWater = $(this).is(':checked');
        setVisibility(switchStatusWater, "water");
    });


    var switchStatusWoods = document.getElementById("woodsSwitch").checked;
    setVisibility(switchStatusWoods, "woods");
    $("#woodsSwitch").on('change', function() {
        switchStatusWoods = $(this).is(':checked');
        setVisibility(switchStatusWoods, "woods");
    });


    var switchStatusFire = document.getElementById("fireSwitch").checked;
    setVisibility(switchStatusFire, "fire");
    $("#fireSwitch").on('change', function() {
        switchStatusFire = $(this).is(':checked');
        setVisibility(switchStatusFire, "fire");
    });

    var switchStatusSwamp = document.getElementById("swampSwitch").checked;
    setVisibility(switchStatusSwamp, "swamp");
    $("#swampSwitch").on('change', function() {
        switchStatusSwamp = $(this).is(':checked');
        setVisibility(switchStatusSwamp, "swamp");
    });


    var switchStatusRuins2 = document.getElementById("ruinSwitch2").checked;
    setVisibility(switchStatusRuins2, "smallNewFontain");
    $("#ruinSwitch2").on('change', function() {
        switchStatusRuins2 = $(this).is(':checked');
        setVisibility(switchStatusRuins2, "smallNewFontain");
    });


    var switchStatusWater2 = document.getElementById("waterSwitch2").checked;
    setVisibility(switchStatusWater2, "smallWater");
    $("#waterSwitch2").on('change', function() {
        switchStatusWater2 = $(this).is(':checked');
        setVisibility(switchStatusWater2, "smallWater");
    });


    var switchStatusWoods2 = document.getElementById("woodsSwitch2").checked;
    setVisibility(switchStatusWoods2, "smallWoods");
    $("#woodsSwitch2").on('change', function() {
        switchStatusWoods2 = $(this).is(':checked');
        setVisibility(switchStatusWoods2, "smallWoods");
    });


    var switchStatusFire2 = document.getElementById("fireSwitch2").checked;
    setVisibility(switchStatusFire2, "smallFire");
    $("#fireSwitch2").on('change', function() {
        switchStatusFire2 = $(this).is(':checked');
        setVisibility(switchStatusFire2, "smallFire");
    });

</script>


</body>
</html>