---
---

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Games</title>

    <style>
        .textstyle{
            padding-left: 5%;
            font-size: 20px;
            max-width: 1200px;
        }

        .image {
            width: 100%;
            max-width: 500px;
            height: auto;
            padding-right: 5%;

        }

        .caption {
            font-size: 20px;
            display: table-caption;
            caption-side: bottom;
            padding-bottom: 7%;
            padding-right: 5%;
        }

        .figure {
            display: table;
            margin: 0;
        }

    </style>

</head>
<body>

{% include slider.html %}
{% include menu.html %}

<h1 style="padding-left: 5%; padding-bottom: 2%" class="mt-5"> Princess stops the Princes</h1>

<p class="textstyle"> "Princess stops the Princes" is made for
    <a href="https://ldjam.com/events/ludum-dare/47/princess-stop-the-princes" target="_blank">LudumDare 47</a>. The Theme was "Stuck in a loop".
    We had the game idea before the theme was announced. But we wanted to make a nice little game.
    Therefore, the theme may not quite fit to the game. But… so what?

</p>
<p class="textstyle"> Our team consisted of Sesca, souldzin, wehteheff and <a href="https://winniehell.de/" target="_blank">winniehell</a> and me.</p>
<p class="textstyle"> We made this game with <a href="https://godotengine.org/" target="_blank"> Godot game engine</a>.</p>
<p class="textstyle"> This time we want to make a game with simple mechanics. So we decide to make a tower defense game. </p>

<div style="padding-left: 5%">
    <a class="btn btn-primary" style="font-size: 20px" href="https://regenbogenmarmelade.gitlab.io/princess-stop-the-princes/" target="_blank" role="button">Play now (on Web) </a>
</div>


<img class="textstyle" style="width: 100%; max-width: 1200px" src="../assets/games/princess/princess.jpg">


<h2 style="padding-left: 5%;" class="mt-5"> It beginns…</h2>
<p class="textstyle">
    (
    <a href="https://gitlab.com/regenbogenmarmelade/princess-stop-the-princes" target="_blank"> go to source code </a>
    )
</p>


<div style="padding-left: 5%" class="row" >
    <figure class="float-left figure">
    <img class="image" src="../assets/games/princess/beginn.png">
    <figcaption class="caption">…with rectangles… </figcaption>
    </figure>
    <figure class="float-left figure">
    <img class="image" src="../assets/games/princess/throwable_princes.png">
    <figcaption class="caption" >Then there was throwable rectangles and many, many princes 😱! </figcaption>
    </figure>
    <figure class="figure">
    <img class="image" src="../assets/games/princess/unicorn.png">
    <figcaption class="caption">A wild UNICORN appeared! </figcaption>
    </figure>
</div>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="image" src="../assets/games/princess/bg.png">
        <figcaption class="caption">And then there was a background.</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/princess/squirrel.png">
        <figcaption class="caption">And add some other animals, that helps you to stop princes - for example squirrels.</figcaption>
    </figure>
    <figure class="figure">
        <img class="image" src="../assets/games/princess/parrot.png">
        <figcaption class="caption" >And parrots... </figcaption>
    </figure>
</div>


<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="image" src="../assets/games/princess/roses.png">
        <figcaption class="caption">...not only animals also rose shrubs help you to stop the pushy princes. </figcaption>
    </figure>
    <figure class="figure">
        <img class="image" src="../assets/games/princess/chest.png">
        <figcaption class="caption">And sometimes the thrown chest is a magical chest and thrust the princes away!
            (It's inspired by Terry Pratchett's Luggage.)</figcaption>
    </figure>
</div>

<div style="padding-left: 5%" class="row">
    <figure class="figure">
        <img class="image" src="../assets/games/princess/ice.png">
        <figcaption class="caption"> And sometimes the princes come by train… </figcaption>
    </figure>

</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


</body>
</html>