---
---

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Games</title>

    <style>
        .textstyle{
            padding-left: 5%;
            font-size: 20px;
            max-width: 1200px;
            padding-top: 10px;
        }

        .image {
            width: 100%;
            max-width: 500px;
            height: auto;
            padding-right: 5%;

        }

        .caption {
            font-size: 20px;
            display: table-caption;
            caption-side: bottom;
            padding-bottom: 7%;
            padding-right: 5%;
        }

        .figure {
            display: table;
            margin: 0;
        }

        .zoom {
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            cursor: zoom-in;
        }

        .zoom:hover,
        .zoom:active,
        .zoom:focus {
            /**adjust scale to desired size,
            add browser prefixes**/
            transform-origin: top left;
            -ms-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
            position:relative;
            z-index:100;
        }

    </style>

</head>
<body>

{% include slider.html %}
{% include menu.html %}

<h1 style="padding-left: 5%; padding-bottom: 2%" class="mt-5">Splendid Adventure on a Sunday Afternoon</h1>

<p class="textstyle"> "Splendid Adventure on a Sunday Afternoon" is made for
    <a href="https://ldjam.com/events/ludum-dare/41/splendid-adventures-on-a-sunday-afternoon" target="_blank">LudumDare 41</a>.
    The Theme was "Combine 2 Incompatible Genres".
    So we decided to combine Jump&Run with a Text Adventure.
    You are walking in a book world. You jump from text to text and at some points you can choose one of several ways.
    So you walk through your own story.
    The graphics should not disturb the text, so the images play a subordinate role.
    It should be like a drawing in children's books.
</p>
<p class="textstyle"> This game was made by <a href="https://morr.cc/" target="_blank">blinry</a>, bonusPanda, larkinia,
    <a href="https://rohieb.name/" target="_blank">rohieb</a>, <a href="https://winniehell.de/" target="_blank">winniehell</a> and me.</p>


<div style="padding-left: 5%">
    <a class="btn btn-primary" style="font-size: 20px" href="https://ldjam-41.gitlab.io/sunday-afternoon/" target="_blank" role="button">Play now (on Web) </a>
</div>

<h2 style="padding-left: 5%;" class="mt-5"> Once upon a time… </h2>
<p class="textstyle">
    (
    <a href="https://ldjam-41.gitlab.io/sunday-afternoon/" target="_blank"> go to source code </a>
    )
</p>

<p class="textstyle">
    … you start an adventure. Here are some places where you have to make a choice.
</p>

<div style="padding-left: 5%" class="row" >
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/splendidAdventure/berry.jpg">
        <figcaption class="caption">Will you eat the berries or will you move on?</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/splendidAdventure/downhill.jpg">
        <figcaption class="caption" >Left or right? </figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/splendidAdventure/bridge_and_ferry.jpg">
        <figcaption class="caption">Will you across the bridge or will you take the ferry?</figcaption>
    </figure>
</div>

<p class="textstyle">
   Discover new places…
</p>
<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/splendidAdventure/village.jpg">
        <figcaption class="caption">You can go to a village.</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/splendidAdventure/ruins.jpg">
        <figcaption class="caption">Or you can discover ancient ruins.</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/splendidAdventure/battlement.jpg">
        <figcaption class="caption">Or examine the ancient walls of a battlement.</figcaption>
    </figure>
</div>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/splendidAdventure/bridge.jpg">
        <figcaption class="caption">Go through a rope bridge.</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/splendidAdventure/rain.jpg">
        <figcaption class="caption">Sometimes there is a change in the weather and it starts to rain.</figcaption>
    </figure>
    <figure class="figure">
        <img class="zoom image" src="../assets/games/splendidAdventure/slipery.jpg">
        <figcaption class="caption" >Then your path becomes slippery.</figcaption>
    </figure>
</div>


<p class="textstyle">
    Or when you fallen asleep…
</p>
<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/splendidAdventure/falling.jpg">
        <figcaption class="caption">fallen…fallen…fallen…</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="zoom image" src="../assets/games/splendidAdventure/downDownDown.jpg">
        <figcaption class="caption">… you are in a strange dream… </figcaption>
    </figure>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


</body>
</html>