---
---

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Games</title>

    <style>
        .textstyle{
            padding-left: 5%;
            font-size: 20px;
            max-width: 1200px;
            padding-top: 10px;
        }

        .image {
            width: 100%;
            max-width: 500px;
            height: auto;
            padding-right: 5%;

        }

        .caption {
            font-size: 20px;
            display: table-caption;
            caption-side: bottom;
            padding-bottom: 7%;
            padding-right: 5%;
        }

        .figure {
            display: table;
            margin: 0;
        }

    </style>

</head>
<body>

{% include slider.html %}
{% include menu.html %}

<h1 style="padding-left: 5%; padding-bottom: 2%" class="mt-5">Wodewick - the grumpy Monster</h1>

<p class="textstyle"> "Wodewick - the grumpy Monster" is made for
    <a href="https://ldjam.com/events/ludum-dare/39/wodewick-the-grumpy-monster" target="_blank">LudumDare 39</a>.
    The Theme was "Running out of Power". This time we had something to do at ths weekend, so we made a minimalistic
    game in 12 hours. We use <a href="https://libgdx.badlogicgames.com/" target="_blank">libGDX</a> for this game.
</p>
<p class="textstyle"> This game was made by <a href="https://winniehell.de/" target="_blank">winniehell</a> and me.</p>


<div style="padding-left: 5%">
    <a class="btn btn-primary" style="font-size: 20px" href="https://winniehell.gitlab.io/wodewick/" target="_blank" role="button">Play now (on Web) </a>
</div>

<div style="padding-left: 5%; width: 100%; max-width: 600px">
<img class="image shadow" src="../assets/games/wodewick/wodewick_title.png">
</div>

<p class="textstyle">
    (
    <a href="https://gitlab.com/winniehell/wodewick" target="_blank"> go to source code </a>
    )
</p>

<p class="textstyle"  style="padding-bottom: 2%">
    Wodewick, the grumpy monster, is attacked by the Huggers. They cuddle and hug him. So he's getting happier and
    happier. Finally he's no longer grumpy. Push the Huggers back with the arrow keys.
</p>

<div style="padding-left: 5%;" class="row" >
    <figure class="float-left figure" style="padding-right: 2%">
        <img class="image shadow" src="../assets/games/wodewick/wodewick1.png">
        <figcaption class="caption">Wodewick, the grumpy monster.</figcaption>
    </figure>
    <figure class="float-left figure" style="padding-right: 2%">
        <img class="image shadow" src="../assets/games/wodewick/wodewick2.png">
        <figcaption class="caption">With each hug, Wodewick get happier…</figcaption>
    </figure>
    <figure class="figure" style="padding-right: 2%">
        <img class="image shadow" src="../assets/games/wodewick/wodewick3.png">
        <figcaption class="caption">and happier…</figcaption>
    </figure>
</div>

<div style="padding-left: 5%;" class="row">
    <figure class="float-left figure" style="padding-right: 2%">
        <img class="image shadow" src="../assets/games/wodewick/wodewick_hug.png">
        <figcaption class="caption">A Hugger cuddle and kiss Wodewick. Oh no!</figcaption>
    </figure>
    <figure class="float-left figure" style="padding-right: 2%">
        <img class="image shadow" src="../assets/games/wodewick/wodewick_game_over.png">
        <figcaption class="caption">And Wodewick is no longer a grumpy monster…</figcaption>
    </figure>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


</body>
</html>