---
---

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Games</title>

    <style>
        .textstyle{
            padding-left: 5%;
            font-size: 20px;
            max-width: 1200px;
        }

        .image {
            width: 100%;
            max-width: 500px;
            height: auto;
            padding-right: 5%;

        }

        .caption {
            font-size: 20px;
            display: table-caption;
            caption-side: bottom;
            padding-bottom: 7%;
            padding-right: 5%;
        }

        .figure {
            display: table;
            margin: 0;
        }

        .button {
            padding-left: 5%;
            padding-bottom: 3%;
        }

    </style>

</head>
<body>

{% include slider.html %}
{% include menu.html %}

<h1 style="padding-left: 5%; padding-bottom: 2%" class="mt-5"> Kaeruyo, Yokaichan.</h1>

<p class="textstyle"> "Kaeruyo, Yokaichan - Let's go home, little Daemons" is made for
    <a href="https://ldjam.com/events/ludum-dare/43/youkaichan-kaeruyo" target="_blank">LudumDare 47</a>.
    The Theme was "Sacrifices must be made".
    The Demon Father leads the child demons back home in a night parade of hundred demons (百鬼夜行 Hyakki Yagyō).
    But on the way a wind demon attack the parade. The little demons are blown away and they are separated from the father demon.
    The little demons have to find a way home. But many obstacles make their way difficult.
    To overcome them, the little demons must use their skills.
    For example to get over a high cliff, a demon with the element earth can transform itself into a ledge
    so that the other demons can reach the top.
    But they are still children and once they have used their skills they cannot transform themselves back.
    So the other demons have to leave that one behind. Sacrifices must be made.
</p>
<p class="textstyle">
    The game is from the genre Jump and Run.
    Unfortunately, the game wasn't finished in one weekend.
    Since we had some problems with the physics and follow logic.
    But since we like the game idea, one of the projects that to be still due, is
    to develop this game again with a game engine (most likely <a href="https://godotengine.org/" target="_blank"> Godot</a>).
</p>
<p class="textstyle"> I made this game with nanoSQUID, psimyn, Sasikki and <a href="https://winniehell.de/" target="_blank">winniehell</a>.</p>


<img class="textstyle" style="width: 100%; max-width: 900px" src="../assets/games/yokaichan/title.png">


<h2 style="padding-left: 5%;" class="mt-5"> Some screenshots… </h2>
<p class="textstyle">
    (
    <a href="https://gitlab.com/ldjam/43/youkaichan-kaeruyo/" target="_blank"> go to source code </a>
    )
</p>


<div style="padding-left: 5%" class="row" >
    <figure class="float-left figure">
        <img class="image" src="../assets/games/yokaichan/yokaichan1.png">
    </figure>
    <figure class="float-left figure">
        <img class="image" src="../assets/games/yokaichan/yokaichan2.png">
    </figure>
    <figure class="figure">
        <img class="image" src="../assets/games/yokaichan/yokaichan3.png">
    </figure>
</div>


<p class="textstyle" style="padding-top: 5%;">
    But I really like the music. The music is made by <a href="https://winniehell.de/" target="_blank">winniehell</a>.
    You can also listen to his music <a href="https://7.5bits.winniehell.de/">here</a>.
</p>

<div style="padding-left: 5%; padding-top: 1%">
<div class="col-sm-4 col-sm-offset-4" style=" margin-bottom: 2%">
    <audio controls style="width: 400px; padding-right: 5%;" class="float-left">
        <source src="../assets/games/yokaichan/title-music.ogg">
    </audio>

    <p class="textstyle">
        title music
    </p>
</div>

<div class="col-sm-4 col-sm-offset-4" style=" margin-bottom: 2%;">
    <audio controls style="width: 400px; padding-right: 5%;" class="float-left">
        <source src="../assets/games/yokaichan/wood.ogg">
    </audio>

    <p class="textstyle">
        woods music
    </p>
</div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


</body>
</html>