---
---

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Games</title>

    <style>
        .textstyle {
            padding-left: 5%;
            font-size: 20px;
            max-width: 1200px;
            padding-top: 10px;
        }

        .image {
            width: 100%;
            max-width: 500px;
            height: auto;
            padding-right: 5%;

        }

        .caption {
            font-size: 20px;
            display: table-caption;
            caption-side: bottom;
            padding-bottom: 7%;
            padding-right: 5%;
        }

        .figure {
            display: table;
            margin: 0;
        }

        .zoom {
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            cursor: zoom-in;
        }

        .zoom:hover,
        .zoom:active,
        .zoom:focus {
            /**adjust scale to desired size,
            add browser prefixes**/
            transform-origin: top left;
            -ms-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
            position:relative;
            z-index:100;
        }

    </style>

</head>
<body>

{% include slider.html %}
{% include menu.html %}

<h1 style="padding-left: 5%; padding-bottom: 2%" class="mt-5">&ZWSP</h1>

<div class="textstyle">
    <p> "&ZWSP" is made for
        <a href="https://ldjam.com/events/ludum-dare/45/zwsp" target="_blank">LudumDare
            45</a>. The Theme was "Start with nothing". </p>
    <p>&ZWSP is a Point-and-Click Escape-Room-Game. And who has wondered what &ZWSP stand for… We don't know either. 🤷‍♀️
    </p>
    <p>Here some suggestions:
    </p>
    <ul>
        <li>Zebras Will Solve Problems</li>
        <li> Zebras Write Some Poetry</li>
        <li>Zebras With Silly Plans</li>
        <li>Zebras Wallow in Sorrow for Petting</li>
        <li>Zebras With Secret Prophecies</li>
        <li>ZWischen-SParen (whatever that means…)</li>
    </ul>

    <p> This game was made by Bonaparte, nanoSQUID, psimyn, souldzin, <a href="https://winniehell.de/" target="_blank">winniehell</a>
        and me.</p>
</div>

<div style="padding-left: 5%; padding-bottom: 2%">
    <a class="btn btn-primary" style="font-size: 20px" href="https://ldjam.gitlab.io/45/next-big-thing/"
       target="_blank" role="button">Play now (on Web) </a>
</div>

<img src="/assets/games/zwsp/zwsp1.png" style="padding-left: 5%; padding-bottom: 2%; width: 100%; max-width: 900px;">


<h2 style="padding-left: 5%;" class="mt-5"> Start with nothing… </h2>
<p class="textstyle">
    (
    <a href="https://gitlab.com/ldjam/45/zwsp" target="_blank"> go to source code </a>
    )
</p>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class="image zoom" src="../assets/games/zwsp/start.png">
        <figcaption class="caption">… start with a black screen…</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="image zoom" src="../assets/games/zwsp/zwsp_kitchen.png">
        <figcaption class="caption">Kitchen</figcaption>
    </figure>
    <figure class="figure">
        <img class="image zoom" src="../assets/games/zwsp/zwsp_study_room.png">
        <figcaption class="caption">Study Room</figcaption>
    </figure>
</div>

<div style="padding-left: 5%; padding-top: 2%" class="row">
    <figure class="float-left figure">
        <img class="image zoom" src="../assets/games/zwsp/zwsp_exit.png">
        <figcaption class="caption">Exit here.</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="image zoom" src="../assets/games/zwsp/zwsp_exit_blue2.png">
        <figcaption class="caption">During the game you can find colors - here blue.</figcaption>
    </figure>
    <figure class="figure">
        <img class="image zoom" src="../assets/games/zwsp/zwsp_laboratory_red.png">
        <figcaption class="caption">…or red…</figcaption>
    </figure>
</div>

<div style="padding-left: 5%; padding-top: 2%" class="row">
    <figure class="float-left figure">
        <img class="image zoom" src="../assets/games/zwsp/zwsp_laboratory_white.png">
        <figcaption class="caption">Find all colors…</figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="image zoom" src="../assets/games/zwsp/zwsp_kitchen_white.png">
        <figcaption class="caption">…and you can see more things…</figcaption>
    </figure>
    <figure class="figure">
        <img class="image zoom" src="../assets/games/zwsp/zwsp_study_room_white.png">
        <figcaption class="caption">…and find a way to go out.</figcaption>
    </figure>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


</body>
</html>