---
---

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>


    <style>
        .rotateimg {
            -webkit-transform: rotate(-10deg);
            -moz-transform: rotate(-10deg);
            -ms-transform: rotate(-10deg);
            -o-transform: rotate(-10deg);
            transform: rotate(-10deg);
        }

        .bg {
            background: url("assets/bg2.png") no-repeat;
            background-size: 100%, auto;
        }

        .textbox {
            padding-top: 5%;
            width: 100%;
            font-family: "Courier New";
            font-size: 20px;
        }

        .titlestyle {
            padding-top: 5%;
            width: 70%;
            font-family: "Courier New";
        }

        .columnstyle_icon {
            width: 10%;
        }

        .notice {
            display: none;
            visibility: hidden;
        }

        @media screen and (max-width:1000px), screen and (max-height:500px) {
            .wrapper { display: none !important; }
            .notice  { display: block; visibility: visible; }
        }


    </style>

</head>
<body>
{% include slider.html %}
{% include menu.html %}

<div class="wrapper" style="padding-left: 5%; padding-top: 3%; padding-bottom: 3%; width: 100%; height: 100%">

    <div style="position: relative;">

        <img style="max-width: 1700px; width: 100%; height: 100%" src="assets/bg2_small.jpg">


        <h1 class="titlestyle" style="position: absolute; left: 25%; top: 0">Hello, world!</h1>

        <p class="textbox" style="top: 10%; padding-right: 45%; position: absolute; width: 100%; left: 25%;">
            I'm dasMaichen. I study computer science. In everyday life, my two girls keep me on the run.
            However if I have free time, I like to draw stuffs - primarily Mangas. Currently I am working on
            "Between Light & Shadow". Further I like to program something. Mostly I like to program games (or make this homepage).
            Moreover when there is a special occasion (like birthday, Christmas party, etc.), then I like to make cakes.
            (And especially to eat it. ^^)
        </p>

        <img class="rotateimg shadow" src="assets/me_small.jpg"
                 style="position: absolute; width: 20%; left: 0; top: 0">

        <!--
        <h1 class="titlestyle" style="position: absolute; left: 25%; top: 0">Hello, world!</h1>
        <p class="textbox" style="padding-right: 40%; position: absolute; width: 100%; left: 25%; top: 25%">
            I'm dasMaichen. I study computer science. In everyday life, my two girls keep me on the run.
            However if I have free time, I like to draw stuffs - primarily Mangas. Currently I am working on
            "Between Light & Shadow". Further I like to program something. Mostly I like to program games (or make this homepage).
            Moreover when there is a special occasion (like birthday, Christmas party, etc.), then I like to make cakes.
            (And especially to eat it. ^^)
        </p>-->
    </div>
</div>

<div class="notice" style="padding-left: 5%; padding-top: 1%; padding-right: 5%">
    <img src="assets/me_small.jpg" class="shadow" style="width: 100%; max-width: 200px">

    <h1 class="titlestyle">Hello, world!</h1>

    <p class="textbox">
        I'm dasMaichen. I study computer science. In everyday life, my two girls keep me on the run.
        However if I have free time, I like to draw stuffs - primarily Mangas. Currently I am working on
        "Between Light & Shadow". Further I like to program something. Mostly I like to program games (or make this homepage).
        Moreover when there is a special occasion (like birthday, Christmas party, etc.), then I like to make cakes.
        (And especially to eat it. ^^)
    </p>

</div>


<!--
<div class="ml-5 mt-5 bg">
    <div>
        <img src="assets/me.png" style="width: 20%" class="mr-5 img-fluid shadow rounded rotateimg ml-5 float-left" alt="me" >
    </div>
    <h1 class="titlestyle">Hello, world!</h1>
    <p class="mr-5 ml-5 textbox">
        I'm dasMaichen. I study computer science. In everyday life, my two girls keep me on the run.
        However if I have free time, I like to draw stuffs - primarily Mangas. Currently I am working on
        "Between Light & Shadow". Further I like to program something. Mostly I like to program games (or make this homepage).
        Moreover when there is a special occasion (like birthday, Christmas party, etc.), then I like to make cakes.
        (And especially to eat it. ^^)
    </p>
</div>
-->

<div class="wrapper" style="width: 100%; max-width: 900px; padding-top: 1%">
    <h1 style="text-align: center">What's new?</h1>
</div>


<div class="row justify-content-center wrapper" style=" padding-bottom: 5%">

    <table class="table table-sm" style="width: 40%">

        <tbody>

        <tr>
            <td scope="col" style="width: 10%"><img src="assets/lee_icon_small.jpg" style="width: 50px"></td>
            <td scope="row" style="vertical-align: bottom">08 Apr 2022</td>
            <td style="vertical-align: bottom"><a href="/games/dontSaveThePlanet.html">Don't save the planet</a> - a game
                for "LudumDare 50"
            </td>
        </tr>
        <tr>
            <th scope="row"><img src="assets/loon_icon_small.jpg" style="width: 50px"></th>
            <td style="vertical-align: bottom">02 Jan 2021</td>
            <td style="vertical-align: bottom">Between Light & Shadow - <a href="/mangas/loonManga.html"
                                                                           class="waves-effect"> chapter 6</a></td>
        </tr>
        <tr>
            <td scope="col" style="width: 10%"><img src="assets/princess_icon_small.jpg" style="width: 50px"></td>
            <td scope="row" style="vertical-align: bottom">05 Oct 2020</td>
            <td style="vertical-align: bottom"><a href="/games/princess.html">Princess stops the Princes</a> - a game
                for "LudumDare 47"
            </td>
        </tr>
        <tr>
            <th scope="col"><img src="assets/omg_icon_small.jpg" style="width: 50px"></th>
            <td style="vertical-align: bottom">30 Aug 2020</td>
            <td style="vertical-align: bottom"><a href="/games/omg.html">OMG-Owesome Marmelade Game</a> - a game for
                "Rainbow Jam"
            </td>
        </tr>
        <tr>
            <th scope="row"><img src="assets/loon_icon_small.jpg" style="width: 50px"></th>
            <td style="vertical-align: bottom">07 Aug 2020</td>
            <td style="vertical-align: bottom">Between Light & Shadow - <a href="/mangas/loonManga.html"
                                                                           class="waves-effect"> chapter 5</a></td>
        </tr>
        <tr>
            <th scope="row"><img src="assets/loon_icon_small.jpg" style="width: 50px"></th>
            <td style="vertical-align: bottom">02 May 2020</td>
            <td style="vertical-align: bottom">Between Light & Shadow - <a href="/mangas/loonManga.html"
                                                                           class="waves-effect"> chapter 4</a></td>
        </tr>
        </tbody>
    </table>
</div>



<div class="notice" style="width: 100%; max-width: 900px; padding-top: 1%; padding-left: 5%">
    <h1>What's new?</h1>
</div>


<div class="row notice" style="padding-left: 5%; padding-right: 5%;">

    <table class="table table-sm" style="width: 100%">

        <tbody>

        <tr>
            <td scope="col" style="width: 10%"><img src="assets/lee_icon_small.jpg" style="width: 50px"></td>
            <td scope="row" style="vertical-align: bottom">08 Apr 2022</td>
            <td style="vertical-align: bottom"><a href="/games/dontSaveThePlanet.html">Don't save the planet</a> - a game
                for "LudumDare 50"
            </td>
        </tr>

        <tr>
            <td scope="col" style="width: 10%"><img src="assets/princess_icon_small.jpg" style="width: 50px"></td>
            <td scope="row" style="vertical-align: bottom">05 Oct 2020</td>
            <td style="vertical-align: bottom"><a href="/games/princess.html">Princess stops the Princes</a> - a game
                for "LudumDare 47"
            </td>
        </tr>
        <tr>
            <th scope="col"><img src="assets/omg_icon_small.jpg" style="width: 50px"></th>
            <td style="vertical-align: bottom">30 Aug 2020</td>
            <td style="vertical-align: bottom"><a href="/games/omg.html">OMG-Owesome Marmelade Game</a> - a game for
                "Rainbow Jam"
            </td>
        </tr>
        <tr>
            <th scope="row"><img src="assets/loon_icon_small.jpg" style="width: 50px"></th>
            <td style="vertical-align: bottom">07 Aug 2020</td>
            <td style="vertical-align: bottom">Between Light & Shadow - <a href="/mangas/loonManga.html"
                                                                           class="waves-effect"> chapter 5</a></td>
        </tr>
        <tr>
            <th scope="row"><img src="assets/loon_icon_small.jpg" style="width: 50px"></th>
            <td style="vertical-align: bottom">02 May 2020</td>
            <td style="vertical-align: bottom">Between Light & Shadow - <a href="/mangas/loonManga.html"
                                                                           class="waves-effect"> chapter 4</a></td>
        </tr>
        </tbody>
    </table>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
