{% comment %} {% assign pageCategory = page.url | split: "/" | shift | first %}

{% for item in site.data.menu %}
<li class="{% if pageCategory == item.url %}active{% endif %}">
    <a href="/{{ item.url }}">{{ item.text }} </a>
</li>

{% endfor %}

{% endcomment %}

<!-- NavBar CSS -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <a class="nav-link" href="/index.html">Home</a>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Mangas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/mangas/index.html">Overview</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/mangas/loonManga.html">Between Light & Shadow</a>
                    <a class="dropdown-item" href="/mangas/seth.html">Blue Moon</a>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Games
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/games/index.html">Overview</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/games/omg.html">OMG</a>
                    <a class="dropdown-item" href="http://convoluted.gitlab.io/index.html" target="_blank">Convoluted</a>
                    <a class="dropdown-item" href="/games/ares.html">Ares</a>


                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/games/wodewick.html">Wodewick</a>
                    <a class="dropdown-item" href="/games/splendidAdventure.html">Splendid Adventures</a>
                    <a class="dropdown-item" href="/games/yokaichan.html">Yokaichan</a>
                    <a class="dropdown-item" href="/games/betweenLightAndShadow.html">Between Light & Shadows</a>
                    <a class="dropdown-item" href="/games/zwsp.html">&ZWSP</a>
                    <a class="dropdown-item" href="/games/genamoeba.html">Genamoeba</a>
                    <a class="dropdown-item" href="/games/princess.html">Princess stops the Princes</a>
                    <a class="dropdown-item" href="/games/dontSaveThePlanet.html">Don't save the planet</a>

                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/cakes/index.html">Cakes</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/otherProjects/index.html">other Projects</a>
            </li>



        </ul>
    </div>
</nav>
