<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav2 side">
    <ul class="custom-scrollbar">

        <!-- Side navigation links -->

        <li><a class=" waves-effect">
            chapter 1
            <div class="collapsible-body">
                <ul>
                    <li>

                        <a href="#" class="waves-effect">page 1</a>
                    </li>
                    <li><a href="#" class="waves-effect">page 2</a>
                    </li>
                </ul>
            </div>
        </li>
        <li><a class="collapsible-header waves-effect arrow-r">
            chapter 2</a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="#" class="waves-effect">page 1</a>
                    </li>
                    <li><a href="#" class="waves-effect">page 2</a>
                    </li>
                </ul>
            </div>
        </li>
        <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-eye"></i> About<i
                class="fas fa-angle-down rotate-icon"></i></a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="#" class="waves-effect">Introduction</a>
                    </li>
                    <li><a href="#" class="waves-effect">Monthly meetings</a>
                    </li>
                </ul>
            </div>
        </li>
        <li><a class="collapsible-header waves-effect arrow-r"><i class="far fa-envelope"></i> Contact me<i
                class="fas fa-angle-down rotate-icon"></i></a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="#" class="waves-effect">FAQ</a>
                    </li>
                    <li><a href="#" class="waves-effect">Write a message</a>
                    </li>
                    <li><a href="#" class="waves-effect">FAQ</a>
                    </li>
                    <li><a href="#" class="waves-effect">Write a message</a>
                    </li>
                    <li><a href="#" class="waves-effect">FAQ</a>
                    </li>
                    <li><a href="#" class="waves-effect">Write a message</a>
                    </li>
                    <li><a href="#" class="waves-effect">FAQ</a>
                    </li>
                    <li><a href="#" class="waves-effect">Write a message</a>
                    </li>
                </ul>
            </div>
        </li>
        <!--/. Side navigation links -->
    </ul>
    <div class="sidenav-bg rgba-blue-strong"></div>
</div>
<!--/. Sidebar navigation -->