{% comment %}
{% assign pageCategory = page.url | split: "/" | shift | first %}
{% endcomment %}
{% assign pageCategory = page.url %}


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">



        {% for item in site.data.sliderImages %}
          {% if item.sliderItemURL == pageCategory %}
            {% for subitem in item.imagePath %}
               <div class="carousel-item {% if forloop.first == true %}active{% endif %}">
                  <img class="d-block w-100" src="../{{subitem.path}}">
               </div>
            {% endfor %}
        {% endif %}
        {% endfor %}


{% comment %}
        <div class="carousel-item {% if forloop.first == true %}active{% endif %}">
            <img class="d-block w-100" src="../{{item.path}}">
        </div>
        {% endfor %}
{% endcomment %}


    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
    </a>
</div>
