---
---

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Bachelor Thesis</title>

    <style>
        .textstyle {
            padding-left: 5%;
            padding-right: 5%;
            font-size: 20px;
            max-width: 1200px;
            padding-top: 10px;
            text-align: justify
        }

        .image {
            width: 100%;
            max-width: 500px;
            height: auto;
            padding-right: 5%;

        }

        .caption {
            font-size: 20px;
            font-style: italic;
            display: table-caption;
            caption-side: bottom;
            padding-bottom: 7%;
            padding-right: 5%;
        }

        .figure {
            display: table;
            margin: 0;
            margin-right: 5%;
        }

        .zoom {
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            cursor: zoom-in;
        }

        .zoom:hover,
        .zoom:active,
        .zoom:focus {
            /**adjust scale to desired size,
            add browser prefixes**/
            transform-origin: top left;
            -ms-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
            position: relative;
            z-index: 100;
        }

    </style>

</head>
<body>

{% include slider.html %}
{% include menu.html %}


<h1 style="padding-left: 5%; padding-bottom: 2%; max-width: 1200px" class="mt-5">Bachelor Thesis:
    Implementing Dynamic Stimuli in VR Environments for Visual Perception Research</h1>


<h3 style="padding-left: 5%;" class="mt-5">Abstract </h3>

<div class="mt-3 mb-2" style="padding-left: 5%;">
    <a class="btn btn-primary" style="font-size: 20px" id="langButton" onclick="changeLanguage()">english abstract</a>
</div>

<!--<div id="like_button_container"></div>-->


<p class="textstyle englAbstract" id="engl" style="display: none"> This bachelor thesis examines the effectiveness of moving brightness modulation in an immersive
    environment.
    Previous work focused on brightness modulation on stationary target elements [BMSG09, GTA + 19]. In a 360° video,
    moving objects may also be of interest. Therefore the brightness modulation was expanded to include a dynamic
    component.
    Mechanisms have been implemented to allows setting paths for a stimulus in a preprocessing step and then play back
    the
    recorded path during the experiment. With these mechanics an experiment was designed and realized. The result was
    that dynamic brightness modulation can help to find the target object more quickly.
    The dynamic brightness modulation encouraged the participants to look at the target object significantly longer
    than without using the stimulus.
</p>

<p class="textstyle" id="dt">
    Diese Bachelorarbeit untersucht die Effektivität der bewegten Helligkeitsmodulation in einer immersiven Umgebung.
    Bisherige Arbeiten untersuchten die Helligkeitsmodulation zur Blickführung bei stationären Zielelementen.
    In einem 360 ◦ Video können aber auch bewegte Objekte von Interesse sein. Daher wurde die Helligkeitsmodulation
    um eine dynamische Komponente erweitert. Dafür wurden Mechanismen implementiert, die in einem Preprocessing
    ermöglichen,
    Pfade für einen Stimulus zu setzen, um diesen dann im Experiment zeitlich synchronisiert abzuspielen.
    Mit diesen Mechanismen wurde ein Experiment konzipiert und durchgeführt.
    Dabei ergab sich, dass die dynamische Helligkeitsmodulation helfen kann, das Zielobjekt schneller zu finden.
    Vor allem führte die dynamische Helligkeitsmodulation dazu, dass die Teilnehmer des Experiments deutlich länger
    das Zielobjekt fixiert haben als ohne Einsatz des Stimulus.
    <br>
    <br>
    Es folgt eine grobe Zusammenfassung der Arbeit. Für die richtige Arbeit kontaktiert mich: (Kontakt folgt)
</p>




<h2 style="padding-left: 5%;" class="mt-5"> Preprocessing </h2>

<p class="textstyle">
    Am Institut für Computergraphik existiert eine Softwarebibliothek speziell für den
    <a href="https://graphics.tu-bs.de/projects/icg-dome">ICG Dome</a>.
    Diese beinhaltet Frameworks zum Entwerfen und Durchführen von Wahrnehmungsexperimenten in einer virtuellen Umgebung.
    Um ein Wahrnehmungsexperiment mit dynamischen Stimulus durchzuführen, waren einige Erweiterungen dieser Bibliothek
    notwendig.

    In einem Preprocessing sollte es möglich werden für einen beliebigen Stimulus einen Pfad zu definieren.
    Während der Pfadaufnahme wurde er mit einem eingegebenen 360° Video zeitlich synchronisiert, sodass ein Anwender
    den Stimuluspfad entlang eines Videoelements aufzeichnen kann. Dafür war die Synchronisation von Eingabeposition und
    Videostreamzeit notwendig. Im späteren Verlauf der Arbeit wurde es auch möglich nur einzelne Stützpunkte anzugeben,
    zwischen diesen Punkten dann mit Angabe einer Feinheit linear Interpoliert wurde. Nach der Aufnahme musste die
    Position,
    die in 2D-Bildschirm-Koordinate vorlagen in eine 3D-Szenenwelt (virtuelle Welt) übersetzt werden. Auch musste die
    relative Bildschirmposition mit der Rotation der Kamera verrechnet werden, um die absolute Position in der Welt zu
    bestimmen.
    Das passiert durch Verrechnen mit inverse Transponierten der ModelViewMatrix.
</p>
<p class="textstyle">
    Die so entstandene Stimuluspfad-Videostreamzeit-Daten wurde in einer Datei gespeichert, sodass sie für das
    Experiment
    bereitstand.
</p>

<h2 style="padding-left: 5%;" class="mt-5"> Stimulus </h2>

<p class="textstyle">
    Bailey et al. (2009) zeigten bereits die Effektivität der Helligkeitsmodulation als subtile Blicklenkung [BMSG09].
    Auch Grogorick et al. (2017) zeigten die Wirksamkeit der Helligkeitsmodulation in einer immersiven und
    stereoskopischen
    Umgebung [GTA + 19, GSEM17]. Dabei wurde die Helligkeitsmodulation stationär auf eine Szene projiziert.
    In dieser Arbeit wurde dem Stimulus eine dynamische Komponente hinzugefügt. D.h. während bisher die
    Helligkeitsmodulation
    immer eine feste unveränderliche Position im Panoramabild bzw. im Panoramavideo hatte, soll nun die Aufmerksamkeit
    des Betrachters auf ein bewegtes Element gelenkt werden.
</p>

<div style="max-width: 1200px; display:flex; justify-content: center;">
    <figure class="figure">
        <img style="max-width: 700px; width: 100%; padding-right: 5%; padding-bottom: 1%; padding-top: 2%; margin-left: 5%"
             src="../assets/other/sibm_stim.jpg">
        <figcaption style="margin-left: 5%" class="caption">Bei SIBM-Stim werden unterschiedliche Leuchtdichten
        </figcaption>
</div>

<p class="textstyle">
    Im Experiment wurde der SIBM-Stimulus, der von Grogorick et al. [GTA + 19] entwickelt wurde, eingesetzt.
    SIBM steht für stereo inverse brightness modulation. Diese Helligkeitsmodulation wurde speziell für eine
    stereoskopische Umgebung entwickelt und basiert auf der binokularen Rivalität.
    Der SIBM-Stimulus ist eine Helligkeitsmodulation. Dabei wird die Tatsache ausgenutzt, dass bei VR-Geräten für
    jedes Auge die Szenen einzeln gerendert werden. So wird auf einem Auge an der Zielposition die Leuchtdichte erhöht
    und auf dem anderen Auge die Leuchtdichte verringert. So bekommen das linke und das rechte Auge eine
    unterschiedliche
    Information, sodass hier die binokulare Rivalität auftritt. Diese Konfliktsituation versucht das menschliche Gehirn
    zu lösen und dabei erscheint nun der Zielpunkt dem Betrachter als ein flimmernder Leuchtfleck.
</p>

<h2 style="padding-left: 5%;" class="mt-5"> Das Experiment </h2>

<p class="textstyle">
    Das Experiment wurde im <a href="https://graphics.tu-bs.de/projects/icg-dome">ICG Dome</a> durchgeführt.
    Der ICG Dome ist ein kuppelförmiges Echtzeit-Videoprojektionssystem
    mit einem Durchmesser von 5m.
    Die Probanden haben auf einem Stuhl an einer vordefinierten Stelle unter der Dome-Kuppel Platz genommen.
    Ihnen wurde eine kombinierte Shutterbrille aufgesetzt. Diese Shutterbrille ermöglichte zum einen das stereoskopische
    Sehen und zum anderen das Eyetracking. Die Probanden erhielten nur die Aufgabe sich in der Szene frei umzusehen.
    Für jede Szene hatte er dann 20 Sekunden Zeit sich frei umzusehen. Es gab zehn verschiedene Szenen zu beobachten.
    Jede dieser Videos wurde dem Probanden einmal ohne und ein anderes Mal mit der bewegten Helligkeitsmodulation
    gezeigt.
    Die Reihenfolge der Videos und das Vorkommen des Stimulus wurde dabei randomisiert (aber nicht das gleiche Video
    nacheinander).
</p>

<div style="display:flex; justify-content: center; max-width: 1200px;">
    <figure class="figure">
        <img style="max-width: 900px; width: 100%; padding-right: 5%; padding-bottom: 1%; padding-top: 2%; margin-left: 5%"
             src="../assets/other/dome_babylon.jpg">
        <figcaption style="margin-left: 5%" class="caption">Der ICG Dome.</figcaption>
    </figure>
</div>

<p class="textstyle">
    An dem Experiment haben Corona bedingt nur 10 Testpersonen zwischen 25-34 Jahren teilgenommen. Die Hälfte davon
    mit korrigierten Visus.
</p>

<h2 style="padding-left: 5%;" class="mt-5"> Wie schnell wurde das Zielobjekt gefunden?</h2>

<p class="textstyle">
    Die erhobenen Daten wurden zunächst daraufhin untersucht, wie lange die Testpersonen gebraucht haben, um auf das
    Zielelement aufmerksam zu werden. Dabei hatten sie keine bestimmte Suchaufgabe, sondern sollten sich in der Szene
    frei umsehen.
    Die Auswertung zeigt, dass das Zielelement mit einem Stimulus tendenziell schneller in den Fokus rückt als
    ohne diesen Stimulus. Man sieht aber auch deutlich, dass die Werte hohen Schwankungen unterliegen. Die starken
    Streuungen ergeben sich natürlich unter anderem aus den niedrigen Anzahl an Versuchspersonen.
    Außerdem handelte es sich bei der Helligkeitsmodulation um eine subtile Methode, die versucht möglichst
    unauffällig in der Szene zu agieren, sodass der Stimulus in einigen Fällen von den Teilnehmer übersehen wurde.
    Die Effektivität des Stimulus ist auch stark von dem gezeigten Panoramavideo abhängig.
</p>

<div style="max-width: 1200px; display:flex; justify-content: center; padding-left: 5%">
    <figure class="float-left figure">
        <img class="shadow"
             style="max-width: 700px; width: 100%; padding-right: 5%; padding-bottom: 1%; padding-top: 2%"
             src="../assets/other/sichtkontakt-025s-korr.png">
        <figcaption class="caption">Verteilung der Zeit, die es brauchte, um das Zielobjekt zu
            finden. In orange Videos mit Stimulus, in blau Videos ohne Stimulus.
        </figcaption>
    </figure>
</div>

<p class="textstyle">
    Hier ein Beispiel, wo der Stimulus keine Auswirkung hatte, wie schnell das Zielobjekt gesehen wurde. Die Verteilung,
    wie viele Leute das Zielelement nach wie viel Zeit gesehen haben, ist mit und ohne Stimulus ähnlich.
</p>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class=" image shadow" src="../assets/other/hp_marathon_with.png" style="margin-right: 5%">
        <figcaption class="caption">Häufigkeitsverteilung marathon mit Stimulus bei einem Schwellenwert von 250ms.
        </figcaption>
    </figure>
    <figure class="float-left figure">
        <img class=" image shadow" src="../assets/other/hp_marathon_without.png">
        <figcaption class="caption">Häufigkeitsverteilung marathon ohne Stimulus bei einem Schwellenwert von 250ms
        </figcaption>
    </figure>
</div>

<p class="textstyle">
    Hier ein Beispiel, wo der Stimulus gut funktioniert hat.
</p>

<div style="padding-left: 5%" class="row">
    <figure class="float-left figure">
        <img class=" shadow image" src="../assets/other/hp_penguin_with.png">
        <figcaption class="caption">Häufigkeitsverteilung rockhopper-penguin mit Stimulus bei einem Schwellenwert von
            250ms.
            Viele Leute haben schon innerhalb von 0.25s das Zielelement gefunden.
        </figcaption>
    </figure>
    <figure class="float-left figure">
        <img class="shadow image" src="../assets/other/hp_penguin_without.png">
        <figcaption class="caption">Häufigkeitsverteilung rockhopper-penguin ohne Stimulus bei einem Schwellenwert von
            250ms.
            Die meisten Leute haben das Zielelement niemals gesehen
        </figcaption>
    </figure>
</div>


<h2 style="padding-left: 5%;" class="mt-5">Wurde das Zielelement interessanter? - Fixiationsdauer</h2>

<p class="textstyle">
    Ein weiterer Aspekt, der hier noch untersucht wurde, ist die Frage, ob das Zielobjekt mit Stimulus für den
    Betrachter
    interessanter wird. Dafür wurde die Fixiationsdauer angeschaut. Da sich bei diesem Experiment um eine subtile
    Methode handelt,
    wurde der Stimulus ausgeschaltet, sobald darauf geschaut wurde. Die Frage war nun, ob auch nach dem Verschwinden des
    Stimulus das Zielobjekt weiterhin betrachtet wird. So wurde die Gesamtdauer der Fixiation als Anhaltspunkt für
    "Interesse" gewertet.
</p>

<div style="max-width: 1200px; display:flex; justify-content: center; padding-left: 5%">
    <figure class="float-left figure">
        <img class="shadow"
             style="max-width: 700px; width: 100%; padding-right: 5%; padding-bottom: 1%; padding-top: 2%"
             src="../assets/other/maxdur_averagedur-05-korr.png">
        <figcaption class="caption">Fixiationsdauer pro Video in orange mit, in blau ohne Stimulus. Schwellenwert gibt
            an,
            wie viel Zeit auf dem Zielobjekt ruhen muss, um als Sichtkontakt gezählt zu werden.
        </figcaption>
    </figure>
</div>



<h2 style="padding-left: 5%;" class="mt-5">Literaturverzeichnis</h2>

<ul class="textstyle">
    <li> David Alais and Randolph Blake. Binocular rivalry and percep-
        tual ambiguity. In Johan Wagemans, editor, Oxford Handbook
        of Perceptual Organization, pages 775–798. Oxford University
        Press, 2015.
    </li>
    <li>
        Richard A. Abrams and Shawn E. Christ. Motion onset captures
        attention. In Psychological Science, volume 14 of 5, Sept. 2003.
    </li>
    <li>
        Erhardt Barth, Michael Dorr, Martin Böhme, Karl Gegenfurtner, and Thomas Martinetz. Guiding the mind’s eye:
        improving
        communication and vision by external control of the scanpath.
        In Bernice E. Rogowitz, Thrasyvoulos N. Pappas, and Scott J.
        Daly, editors, Human Vision and Electronic Imaging XI, volu-
        me 6057, pages 116 – 123. International Society for Optics and
        Photonics, SPIE, 2006.
    </li>
    <li> J. T. Behrens. Principles and procedures of exploratory data
        analysis. Psychological Methods, 2(2):131–160, 1997.
    </li>
    <li>Randolph Blake. A neural theory of binocular rivalry. In Psychological review, volume 95 of 1, 1989.</li>
    <li>Reynold Bailey, Ann McNamara, Nisha Sudarsanam, and Cindy Grimm. Subtle gaze direction. ACM Trans. Graph.,
        28(4),
        September 2009.
    </li>
    <li>Frank Biocca, Charles Owen, Arthur Tang, and Corey Bohil. Attention issues in spatial information systems:
        Directing mobile
        users’ visual attention using augmented reality. J. of Management Information Systems, 23:163–184, 05 2007.
    </li>
    <li>Forrester Cole, Doug DeCarlo, Adam Finkelstein, Kenrick Kin,
        Keith Morley, and Anthony Santella. Directing gaze in 3D models with stylized focus. Eurographics Symposium on
        Rendering,
        pages 377–387, June 2006.
    </li>
    <li>Computer Graphics TU Braunschweig. Gospel documentation.
        https://graphics.tu-bs.de/gospel/.
    </li>
    <li>H. Davson. The Physiology of the Eye. Academic Press, 1972.
        [Dor04] Guidance of eye movements on a gaze-contingent display,
        Tübingen, Germany, 2004.
    </li>
    <li>John Findlay and Robin Walker. A model of saccade generation
        based on parallel processing and competitive inhibition. The
        Behavioral and brain sciences, 22:661–74, 09 1999.
    </li>
    <li>Steve Grogorick, Georgia Albuquerque, Jan-Philipp Tauscher,
        and Marcus Magnor. Comparison of unobtrusive visual guidance
        methods in an immersive dome environment. ACM Transactions
        on Applied Perception, 15(4):27:1–27:11, Oct 2018.
    </li>
    <li>Steve Grogorick and Marcus Magnor. Subtle visual attention
        guidance in VR. In Sorkine-Hornung A. Magnor M., editor,
        Real VR –Immersive Digital Reality: How to Import the Real
        World into Head-Mounted Immersive Displays, volume 11900,
        chapter 11, pages 272–284. Springer International Publishing,
        Cham, Mar 2020.
    </li>
    <li>E. Bruce Goldstein. Wahrnehmungspsychologie: Der Grundkurs.
        Spektrum Akademischer Verlag, 7 edition, 2007.
    </li>
    <li>Steve Grogorick, Michael Stengel, Elmar Eisemann, and Marcus Magnor. Subtle gaze guidance for immersive
        environments.
        In Michael Breuß Douglas W. Cunningham, editor, Proc. ACM
        Symposium on Applied Perception (SAP), pages 4:1–4:7, Sep
        2017.
    </li>
    <li>Steve Grogorick, Jan-Philipp Tauscher, Georgia Albuquerque,
        Marc Kassubeck, and Marcus Magnor. Towards VR attention
        guidance: Environment-dependent perceptual threshold for stereo inverse brightness modulation. In Proc. ACM
        Symposium
        on Applied Perception (SAP), Sep 2019.
    </li>
    <li>Steve Grogorick, Matthias Überheide, Jan-Philipp Tauscher,
        Paul Maximilian Bittner, and Marcus Magnor. Gaze and
        motion-aware real-time dome projection system. In Proc. IE-
        EE Virtual Reality (VR) Workshop, pages 1780–1783, Mar 2019.
        PerGraVAR.
    </li>
    <li>Steve Grogorick, Matthias Überheide, Jan-Philipp Tauscher,
        and Marcus Magnor. ICG real-time stereo dome projection system. Technical Report 1, Computer Graphics Lab, TU
        Braunschweig, May 2018.
    </li>
    <li>F. Hartwig and B.E. Dearing. Exploratory data analysis. Sage
        Publications, 1979.
    </li>
    <li>Hajime Hata, Hideki Koike, and Yoichi Sato. Visual guidance
        with unnoticed blur effect. In Proceedings of the International
        Working Conference on Advanced Visual Interfaces, AVI ’16, pa-
        ge 28–35, New York, NY, USA, 2016. Association for Computing
        Machinery.
    </li>
    <li>Wolf Kienzle, Matthias O. Franz, Bernhard Schölkopf, and Felix A. Wichmann. Center-surround patterns emerge as
        optimal
        predictors for human saccade targets. Journal of Vision, 9(5):7–
        7, 05 2009.
    </li>
    <li>Azam Khan, Justin Matejka, George Fitzmaurice, and Gordon
        Kurtenbach. Spotlight: Directing users’ attention on large displays. In Proceedings of the SIGCHI Conference on
        Human Factors in Computing Systems, CHI ’05, page 791–798, New York,
        NY, USA, 2005. Association for Computing Machinery.
    </li>
    <li>R. Kosara, S. Miksch, and H. Hauser. Focus+context taken
        literally. IEEE Computer Graphics and Applications, 22(1):22–
        29, 2002.
    </li>
    <li>Andrei Lintu and Noëlle Carbonell. Gaze Guidance through
        Peripheral Stimuli. working paper or preprint, 2009.
    </li>
    <li>Yen-Chen Lin, Yung-Ju Chang, Hou-Ning Hu, Hsien-Tzu Cheng,
        Chi-Wen Huang, and Min Sun. Tell me where to look: Investigating ways for assisting focus in 360 ◦ video. In
        Proceedings
        of the 2017 CHI Conference on Human Factors in Computing
        Systems, CHI ’17, page 2535–2545, New York, NY, USA, 2017.
        Association for Computing Machinery.
    </li>
    <li>F. F. Li, R. VanRullen, C. Koch, and P. Perona. Rapid natural
        scene categorization in the near absence of attention. In Proceedings of the National Academy of Sciences of the
        United States
        of America, volume 99 of 14, 2002.
    </li>
    <li>
        Victor A. Mateescu and Ivan V. Bajić. Attention retargeting
        by color manipulation in images. In Proceedings of the 1st International Workshop on Perception Inspired Video
        Processing,
        PIVP ’14, page 15–20, New York, NY, USA, 2014. Association
        for Computing Machinery.
    </li>
    <li>Junpei Miyamoto, Hideki Koike, and Toshiyuki Amano. Gaze
        navigation in the real world by changing visual appearance of
        objects using projector-camera system. In Proceedings of the
        24th ACM Symposium on Virtual Reality Software and Technology, VRST ’18, New York, NY, USA, 2018. Association
        for
        Computing Machinery.
    </li>
    <li>S P McKee and K Nakayama. The detection of motion in the
        peripheral visual field. In Vision research, volume 24 of 1, 1984.
    </li>
    <li>Lasse T. Nielsen, Matias B. Møller, Sune D. Hartmeyer, Troels
        C. M. Ljung, Niels C. Nilsson, Rolf Nordahl, and Stefania Serafin. Missing the point: An exploration of how to
        guide users’
        attention during cinematic virtual reality. In Proceedings of the
        22nd ACM Conference on Virtual Reality Software and Technology, VRST ’16, page 229–232, New York, NY, USA, 2016.
        Association for Computing Machinery.
    </li>
    <li>R. E. Parker. Picture processing during recognition. In Journal
        of Experimental Psychology: Human Perception and Performance, volume 4 of 2, 1978.
    </li>
    <li>Volfoni Edge RF. https://web.archive.org/web/20190130092832/
        http://volfoni.com/wp-content/uploads/2015/10/datasheet edge
        rf all1.pdf, last accessed: 04.07.2020.
    </li>
    <li>Rainer Schandry. Biologische Psychologie. Beltz Verlag, 4 edition, 2016.</li>
    <li>Eduardo E. Veas, Erick Mendez, Steven K. Feiner, and Dieter
        Schmalstieg. Directing attention and influencing memory with
        visual saliency modulation. In Proceedings of the SIGCHI Conference on Human Factors in Computing Systems, CHI
        ’11, page
        1471–1480, New York, NY, USA, 2011. Association for Computing Machinery.
    </li>
    <li>Nicholas Waldin, Manuela Waldner, and Ivan Viola. Flicker observer effect: Guiding attention through high
        frequency flicker in
        images. Computer Graphics Forum, 36(2):467–476, 2017.
    </li>
    <li>Christina Zelano, Heidi Jiang, Guangyu Zhou, Nikita Arora, Stephan Schuele, Joshua Rosenow, and Jay Gottfried.
        Nasal respiration entrains human limbic oscillations and modulates cognitive
        function. Journal of Neuroscience, 36:12448–12467, 12 2016.
    </li>
    <li>Natalia Zaretskaya, Axel Thielscher, Nikos K. Logothetis, and
        Andreas Bartels. Disrupting parietal function prolongs dominance durations in binocular rivalry. In Current
        Biology, volu-
        me 20 of Issue 23, December 2010.
    </li>
</ul>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<!-- Load our React component. -->
<script src="like_button.js"></script>

<script>

    var language = "german"
    function changeLanguage() {
        var button = document.getElementById("langButton");
        var englElement = document.getElementById("engl");
        var dtElement = document.getElementById("dt");

        if (dtElement.style.display === "none") {
            dtElement.style.display = "block";
            englElement.style.display = "none";
            button.innerText = "english abstract"
        } else {
            dtElement.style.display = "none";
            englElement.style.display = "block";
            button.innerText = "Deutsche Zusammenfassung"

        }
    }

</script>


</body>
</html>