---
---

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>other Projects</title>

    <style>
        .textstyle {
            font-size: 20px;
            width: 100%;
            max-width: 1200px;
            padding-right: 5%;
            padding-top: 1%;
            padding-bottom: 1%;
        }

        .imagestyle {
            width: 100%;
            max-width: 400px;
            float: left;
            margin-right: 5%;
            margin-bottom: 2%;
        }

        .wohlfuehlrand {
            padding-left: 5%;
            padding-top: 1%;
        }

        @media only screen and (max-width: 800px) {
            .imagestyle {
                float: none;
            }

            .textstyle {
                padding-top: 3%;
                width: 100%;
                max-width: 400px;
            }
        }

        .zoom {
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            cursor: zoom-in;
        }

        .zoom:hover,
        .zoom:active,
        .zoom:focus {
            /**adjust scale to desired size,
            add browser prefixes**/
            transform-origin: top left;
            -ms-transform: scale(2);
            -moz-transform: scale(2);
            -webkit-transform: scale(2);
            -o-transform: scale(2);
            transform: scale(2);
            position: relative;
            z-index: 100;
        }

    </style>

</head>
<body>
{% include slider.html %}
{% include menu.html %}

<h1 class="wohlfuehlrand">Other Projects.</h1>

<div class="wohlfuehlrand">
    <h2><a class="float-none" href="/otherProjects/bachelorThesis.html" target="_blank">
        Bachelor Thesis </a></h2>

    <div>
        <div>
            <a href="/otherProjects/bachelorThesis.html">
                <img src="/assets/other/dome_babylon.jpg"
                     class="img-thumbnail shadow bg-white rounded imagestyle" alt="Ares">
            </a>
        </div>

        <div class="textstyle">
            <p>My Bachelor Thesis topic was "Implementing Dynamic Stimuli in VR Environments for Visual Perception
                Research". <a href="bachelorThesis.html">Read more…</a>
            </p>
        </div>
    </div>
</div>

<hr style="clear: left;">
<div class="wohlfuehlrand">
    <h2 style="padding-top: 1%">
        Portraits
    </h2>

    <img src="/assets/other/profil.png"
         class="img-thumbnail shadow bg-white rounded imagestyle" alt="omg">
</div>


<hr style="clear: left;">
<div class="wohlfuehlrand">
    <h2 id="blenderModell" style="padding-top: 3%;">
        3D Modell with blender
    </h2>

    <div class="textstyle">
        <p>
            Some day I wanted to try out blender. So I tried to make a face.
        </p>
    </div>

    <div>
        <img src="/assets/other/loon_blender.png"
             class="img-thumbnail shadow bg-white rounded imagestyle" alt="omg">
        <img src="/assets/other/loon_blender2.png"
             class="img-thumbnail shadow bg-white rounded imagestyle" alt="omg">
    </div>

</div>


<hr style="clear: left;">
<div class="wohlfuehlrand">
    <h2 style="padding-top: 3%;">
        Ein bisschen andere Einladung
    </h2>

    <div class="textstyle">
        <p>
            Einladung
        </p>
    </div>

    <div>
            <img src="/assets/other/page01.jpg"
                 class="img-thumbnail shadow bg-white rounded imagestyle" alt="omg">

            <img src="/assets/other/page02.jpg"
                 class="img-thumbnail shadow bg-white rounded imagestyle" alt="omg">

            <img src="/assets/other/lose.jpg"
                 class="img-thumbnail shadow bg-white rounded imagestyle" alt="omg">

    </div>
</div>


<hr style="clear: left;">
<div class="wohlfuehlrand">
    <h2 style="padding-top: 3%;">
        Water Child
    </h2>


    <div class="textstyle">
        <p>Some drawing for the <a href="https://winniehell.de/water-child/">"Water Child"-Story</a>.
            The story is written by <a href="https://winniehell.de/">winniehell</a>.
        </p>
    </div>

    <div>
        <img src="../assets/other/sparkles-large.jpg"
             class="img-thumbnail shadow bg-white rounded imagestyle" alt="sparkles">
        <img src="../assets/other/traces-large.jpg"
             class="img-thumbnail shadow bg-white rounded imagestyle" alt="traces">
        <img src="../assets/other/boat-large.jpg"
             class="img-thumbnail shadow bg-white rounded imagestyle" alt="boat">
        <img src="../assets/other/cabin-large.jpg"
             class="img-thumbnail shadow bg-white rounded imagestyle" alt="cabin">
        <img src="../assets/other/photo-large.jpg"
             class="img-thumbnail shadow bg-white rounded imagestyle" alt="photo">
        <img src="../assets/other/drawer-large.jpg"
             class="img-thumbnail shadow bg-white rounded imagestyle" alt="drawer">
        <img src="../assets/other/hill-large.jpg"
             class="img-thumbnail shadow bg-white rounded imagestyle" alt="hill">
        <img src="../assets/other/tapir_and_monkey-large.jpg"
             class="img-thumbnail shadow bg-white rounded imagestyle" style="float: none" alt="creature">
    </div>
</div>


<hr style="clear: left;">
<div class="wohlfuehlrand">
    <h2 id="dioskurentempel" style="padding-top: 3%;">
        3D modell
    </h2>

    <div class="textstyle">
        <p>
            3D reconstruction from Temple of Castor and Pollux (ger: Dioskurentempel) in the Forum Romanum (Rome).
            The reconstruction was made as a part of the project
            <a href="http://www.digitales-forum-romanum.de/gebaeude/dioskurentempel/">
                "digitales forum romanum"</a>. This reconstruction made with AutoCAD.
        </p>
    </div>


    <div>
        <a href="/games/omg.html">
            <img src="/assets/other/dioskuren_tempel_fundament.png"
                 class="zoom img-thumbnail shadow bg-white rounded imagestyle" alt="diosurentempel">
            <img src="/assets/other/dioskuren_tempel2.png"
                 class="zoom img-thumbnail shadow bg-white rounded imagestyle" alt="omg">
            <img src="/assets/other/dioskuren_tempel.png"
                 class="zoom img-thumbnail shadow bg-white rounded imagestyle" alt="omg">
        </a>
    </div>

</div>


<hr style="clear: left;">
<div class="wohlfuehlrand">
    <h2 style="padding-top: 3%;">
        Archeological Drawings
    </h2>

    <div>
        <div>
            <img src="/assets/other/schuhsohle.jpg"
                 class="zoom img-thumbnail shadow bg-white rounded imagestyle" alt="shoe sole">
        </div>

        <div class="textstyle">
            <p>
                When I was a trainee at <a
                    href="https://denkmalpflege.niedersachsen.de/landesamt/archaeologie/braunschweig-143378.html">
                "Landesamt für Denkmalpflege"</a> , I made archeological drawings like this shoe sole.
            </p>
        </div>
    </div>
</div>


<hr style="clear: left;">
<div class="wohlfuehlrand">
    <h2 style="padding-top: 3%;">
        GitLabBot Logo
    </h2>

    <div>
        <div>
            <a href="/games/omg.html">
                <img src="/assets/other/GitLab_Logo_Bot.png"
                     class="img-thumbnail shadow bg-white rounded imagestyle" alt="gitlabBot">
            </a>
        </div>

        <div class="textstyle">
            <p>
                Logo for the <a
                    href="https://gitlab.com/gitlab-org/gitlab-foss/-/issues/57257#note_138182771">GitLabBot</a>.
                It is based heavily on the original GitLab logo, that created by <a href="http://tywilkins.com/">Ty
                Wilkins</a>.
            </p>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>
