---
---

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
</html>

<body>
{% include slider.html %}
{% include menu.html %}

<h1 style="padding-left: 5%; padding-bottom: 2%" class="mt-5">Mangas </h1>


<div class="card-deck">
    <div style="margin-left: 5%; margin-bottom: 5%"> <!--padding-bottom: 5%; padding-right: 5%">-->
        <div class="card" style="width: 30rem; min-height: 670px">
            <img class="card-img-top" src="../assets/loon_cards_title.jpg" alt="Card image cap">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Between Light & Shadow</h5>
                <p class="card-text" style="text-align: justify">
                    Sun lives in the city named Luxor with her older sister Urania. One day mysterious holes appear in
                    the world. It is a gate, which connects Sun's world of light with the world of shadow. To cap it all
                    gods of death invade the worlds and kidnap Sun's older sister. What do they want with her? To rescue
                    her sister, Sun has to cooperate with the general of the shadow realm. However general Loon is
                    anything but helpful.
                </p>
                <a href="../mangas/loonManga.html" class="btn btn-primary mt-auto">read Between Light & Shadow (german)</a>
            </div>
        </div>
    </div>

    <div style="margin-left: 5%">
        <div class="card" style="width: 30rem; min-height: 670px">
            <img class="card-img-top" src="../assets/blueMoon.jpg" alt="Card image cap">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Blue Moon</h5>
                <p class="card-text" style="text-align: justify">
                    The naming ceremony takes place today. On this day it has always been a tradition that 17 years olds
                    to be recognized as adults and given their real names - so also Seth and Helion. Their long-time
                    friend will also get her name on this day. But the always so cheerful friend seems so withdrawn
                    at the ceremony. Almost as if she was an empty shell. As a confirmation, the village druid gives
                    her the name "Nyx", which means "darkness" and "emptiness" in the ancient language.
                    What happened to her?
                </p>
                <a href="../mangas/seth.html" class="btn btn-primary mt-auto">read Blue Moon (german)</a>
            </div>
        </div>
    </div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </>
