---
---


<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Between Light and Shadow</title>

    <style>

        .textstyle{
            font-size: 20px;
            max-width: 1200px;
            padding-top: 2%;
            margin-left: -50%;
        }

        #flipbook {
            max-width: 1200px;
            max-height: 850px;

            height: 100%;

            /*
            width:1280px;
            height:700px;*/
        }

        #flipbook .page {
            /*
            width:1280px;
            height:880px;*/
            width: 100%;
            height: 100%;
            background-color: white;
            line-height: 300px;
            font-size: 20px;
            text-align: center;
        }

        #flipbook .page-wrapper {
            -webkit-perspective: 900px;
            -moz-perspective: 900px;
            -ms-perspective: 900px;
            -o-perspective: 900px;
            perspective: 900px;
        }

        #flipbook .hard {
            background: #ccc !important;
            color: #333;
            -webkit-box-shadow: inset 0 0 5px #666;
            -moz-box-shadow: inset 0 0 5px #666;
            -o-box-shadow: inset 0 0 5px #666;
            -ms-box-shadow: inset 0 0 5px #666;
            box-shadow: inset 0 0 5px #666;
            font-weight: bold;
        }

        #flipbook .odd {
            background: -webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
            background-image: -webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
            background-image: -moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
            background-image: -ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
            background-image: -o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
            background-image: linear-gradient(right, #FFF 95%, #C4C4C4 100%);
            -webkit-box-shadow: inset 0 0 5px #666;
            -moz-box-shadow: inset 0 0 5px #666;
            -o-box-shadow: inset 0 0 5px #666;
            -ms-box-shadow: inset 0 0 5px #666;
            box-shadow: inset 0 0 5px #666;

        }

        #flipbook .even {
            background: -webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
            background-image: -webkit-linear-gradient(left, #fff 95%, #dadada 100%);
            background-image: -moz-linear-gradient(left, #fff 95%, #dadada 100%);
            background-image: -ms-linear-gradient(left, #fff 95%, #dadada 100%);
            background-image: -o-linear-gradient(left, #fff 95%, #dadada 100%);
            background-image: linear-gradient(left, #fff 95%, #dadada 100%);
            -webkit-box-shadow: inset 0 0 5px #666;
            -moz-box-shadow: inset 0 0 5px #666;
            -o-box-shadow: inset 0 0 5px #666;
            -ms-box-shadow: inset 0 0 5px #666;
            box-shadow: inset 0 0 5px #666;
        }

        .sidebarstyle {
            float: left;
            padding-left: 5%;
            padding-right: 5%;
        }

        .smallScreenStyle{
            padding-top: 2%;
            padding-left: 5%;
            width: 100%;
            max-width: 800px;
        }

        .smallScreen {
            display: none;
            visibility: hidden;
        }

        .bookScreen {
            display: none;
            visibility: hidden;

        }


        @media screen and (max-width:1200px), screen and (max-height:500px) {
            .wrapper { display: none !important; }
            .smallScreen  { display: block; visibility: visible; }
        }

        @media screen and (max-width:1500px), screen and (max-height:500px) {
            .sidebarstyle {
                float: none;
            }
            .wrapper {
                justify-content: center;
            }
        }



    </style>


</head>

<body>
{% include slider.html %}
{% include menu.html %}


<div class="row">
    <h2 style="padding-left: 5%; padding-top: 2%; padding-bottom: 2%"> Between Light & Shadow </h2>
</div>

<!--
<div style="padding-left: 5%">
    <a class="btn btn-primary" style="font-size: 20px" href="https://ldjam-41.gitlab.io/sunday-afternoon/" target="_blank" id="myTestButton">Play now (on Web) </a>
</div>
-->

{%assign count = site.data.loonMangaPages.size %}
<div id="sidebar" data-chaptercount="{{count}}" class="sidebarstyle">
    {% for item in site.data.loonMangaPages %}

    <div class="dropdown" id="outerDropdown">

        <button class="btn btn-link btn-lg dropdown-toggle" type="button" id="dropdownMenu_{{item.chapter}}"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{item.chapter}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu_{{chapterNo}}" data-pagecount="{{item.page.size}}"
             data-offset="{{item.shift}}">
        </div>
    </div>
    {% endfor %}
</div>

<div id="mangaBook" class="bookScreen wrapper d-flex flex-row" style="padding-left: 5%; padding-bottom: 5%">
<button type="button" class="btn btn-dark" onclick="next()">next</button>
<div>
    <div id="flipbook">
        <div class="hard"><img src="../assets/mangas/loon/title2.png" class="img-fluid shadow bg-white rounded" alt="Loon"></div>
        <div class="hard"></div>

        {% for item in site.data.loonMangaPages%}
        {% for subitem in item.page %}
        <div><img src="../assets/mangas/loon/{{ subitem.pagePath }}" class="mangaPage img-fluid shadow bg-white rounded" alt="Loon"></div>
        {% endfor %}
        {% endfor %}

        <div class="hard"></div>
        <div class="hard"></div>
    </div>
</div>
<button type="button" class="btn btn-dark" onclick="previous()">prev</button>
</div>

<div id="loadingSpinner"  style="position: absolute; left: 50%; top: 50%">
<div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
</div>
    <p class="textstyle"> Bitte ein wenig Geduld. Bilder werden geladen.</p>
    <p style="padding-left: 40%" class="textstyle" id="testText">loading</p>
</div>

<div class="smallScreen smallScreenStyle">
    <p>
        This site is under construction...
    </p>
<!--
<div class="smallScreen smallScreenStyle">
    <img src="../assets/mangas/loon/title2.png" class="img-fluid shadow bg-white rounded" alt="Loon">
    {% for item in site.data.loonMangaPages%}
    {% for subitem in item.page %}
    <div><img src="../assets/mangas/loon/{{ subitem.pagePath }}" class="img-fluid shadow bg-white rounded" alt="Loon"></div>
    {% endfor %}
    {% endfor %}
</div>-->

<!--</div>-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


<script>
    const imageList = document.querySelectorAll(".mangaPage");
    console.log("Anzahl-Seiten: " + imageList.length);
    var numberOfAllPages = imageList.length;
    var numberOfPagesToLoad = imageList.length;

    function countDown(){
        numberOfPagesToLoad = numberOfPagesToLoad - 1;
        console.log("countdown: " + numberOfPagesToLoad);

        var loadingPages = numberOfPagesToLoad;
        document.getElementById("testText").innerText = numberOfAllPages-loadingPages + " von" + numberOfAllPages;


        if(numberOfPagesToLoad === 0){
            console.log("Warum geh ich hier nicht rein?");

            var mangaBook = document.getElementById("mangaBook");
            mangaBook.style = "display: block";
            mangaBook.style = "visibility: visible;";

            var spinner = document.getElementById("loadingSpinner");
            spinner.style = "display: none";
            spinner.style = "visibility: hidden;";
            //var element = document.getElementById("myTestButton");
            //element.style = "background-color: red;";
        }
    }

    for (let element of imageList) {
        console.log("hey");
        if(element.complete){
           countDown();
        }else {
            element.addEventListener("load", countDown);
        }
    }

    console.log("Vor dem IF");





    /*
    function countDown(){
        numberOfPagesToLoad = numberOfPagesToLoad - 1;
        console.log("countdown: " + numberOfPagesToLoad);
    }*/

    /*
    if(numberOfPagesToLoad <= 0){
        var element = document.getElementById("myTestButton");
        element.style = "background-color: red;";
    }*/


    /*
    const imageList = document.querySelectorAll(".mangaPage");

    console.log("legth: "+imageList.length);

    var numberOfPagesToLoad = 0;





    console.log("no of load: " + numberOfPagesToLoad);

    if(numberOfPagesToLoad <= 0){
        var element = document.getElementById("myTestButton");
        element.style = "background-color: red;";
    }*/


</script>


<script src="/assets/turnjs4/lib/turn.js"></script>


<script>

    $("#flipbook").turn({
        direction: "rtl",
        width: 1200,
        height: 850,
        autoCenter: true
    });


    function next() {
        $("#flipbook").turn("next");
    }


    function previous() {
        $("#flipbook").turn("previous");
    }
</script>


<script>
    function goToPage(event) {
        const button = event.target;
        $("#flipbook").turn("page", button.dataset.pageNo);
    }
</script>

<script>

    const numberOfChapter = parseInt(document.getElementById("sidebar").dataset.chaptercount, 10);

    for (let k = 0; k < numberOfChapter; k++) {

        const name = "dropdownMenu_chapter " + (k + 1);
        console.log(name);
        const dropdownMenu = document.getElementById(name).nextElementSibling;
        const pageCount = parseInt(dropdownMenu.dataset.pagecount, 10);
        const offset = parseInt(dropdownMenu.dataset.offset, 10);

        for (let i = 0; i < pageCount; i++) {

            const dropdownButton = document.createElement("button");

            if (i + offset < 3) {
                dropdownButton.innerText = "page " + (i + offset + 1 - 2);
            } else {
                dropdownButton.innerText = "page " + (i + offset - 2) + "-" + (i + 1 + offset - 2);
            }


            dropdownButton.classList.add("dropdown-item");
            dropdownButton.dataset.pageNo = i + 1 + offset;
            dropdownButton.addEventListener("click", goToPage);

            dropdownMenu.appendChild(dropdownButton);
            i = i + 1;
        }
    }
</script>


</body>

</html>